body.ContentRoute {
    .icons-condicoes {
        display: none !important;
    }
    .wd-cms-page {
        .wd-header {
            position: relative;
            margin: 0;
            padding: 0;
            span.wd-icon {
                @media screen and (max-width: 425px) {
                    display: none;
                }
                position: absolute;
                width: 100%;
                height: 2px;
                right: 0;
                top: 31.5%;
                background-color: $base-titulos;
                margin: 20px 0;
            }
            .wd-title {
                padding: 0;
                position: relative;
                z-index: 1;
                background: white;
                h1 {
                    margin: 40px 15px 40px 0;
                    font-size: 20px;
                    font-weight: 900;
                    font-family: $font-heavy;
                }
            }
        }
        .wd-content {
            .banner-quem-somos {
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/banner-quem-somos.png?xzhuuc234h);
                background-repeat: no-repeat;
                width: 1170px;
                height: 300px;
                display: block;
                float: left;
                font-size: 0;
                margin: 0 auto;
                background-position-y: -2px;
            }
            .texto-quem-somos {
                text-align: left;
                padding: 1rem;
                margin: 0;
                @media screen and (max-width: 425px) {
                    padding: 10px;
                }
                h5 {
                    font-size: 20px;
                    font-weight: 900;
                    font-family: $font-heavy;
                    color: $base-titulos;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 30px;
                    color: $base-vitrine;
                }
            }
        }
    }
    .categorias-quem-somos {
        position: relative;
        .cat-title {
            margin: 40px 0;
            font-size: 20px;
            font-weight: 900;
            color: $base-titulos;
            font-family: $font-family;
        }
        .cat-icon {
            @media screen and (max-width: 425px) {
                display: none;
            }
            margin: 0;
            position: absolute;
            width: 76%;
            height: 2px;
            right: 0;
            top: 3.4%;
            background-color: $base-titulos;
        }
    }
}
