#footer {
    > .wrapper {
        > div {
            padding-top: 50px;
            padding-bottom: 2rem;
            border-bottom: 1px solid $gray-medium;
            overflow: hidden;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    border-top: 0;
    background: $font-light;
    .footer-newsletter {
        background-image: url(/custom/content/themes/#{$theme-path}/Imagens/1920x260.png?asduasdhua);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: block;
        text-align: center;
        padding: 52px 0;
        h2 {
            color: $font-light;
            text-align: center;
            padding: 0 15px;
            font-size: 28px;
            small {
                &.subtitle {
                    font-size: 18px;
                }
            }
        }
        .wd-marketing-newsletter {
            max-width: 770px;
            margin: 0 auto;
            .wd-header,
            .input-name-marketing-newsletter,
            label,
            p {
                display: none;
            }
            .input-email-marketing-newsletter {
                width: 79%;
                float: left;
                margin-bottom: 0;
                @include grid-media($grid-smartphone) {
                    width: 100%;
                }
                input {
                    height: 50px;
                    @include round-right(0);
                    font-family: $font-family;
                    font-size: 14px;
                    line-height: 26px;
                    letter-spacing: 0.4px;
                    color: $base-icon-header;
                    @media screen and(max-width: 425px) {
                        margin-bottom: 10px;
                    }
                }
            }
            .input-button-marketing-newsletter {
                float: left;
                width: 21%;
                height: 50px;
                margin-bottom: 0;
                @include grid-media($grid-smartphone) {
                    width: 100%;
                }
                button {
                    font-weight: 900;
                    font-size: 18px;
                    background-color: $base-color-green;
                    padding-left: 4rem;
                    &::before {
                        @media screen and(max-width: 425px) {
                            top: 37%;
                            left: 34%;
                        }
                        content: "";
                        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/send.svg?v7771);
                        background-repeat: no-repeat;
                        background-size: 38%;
                        width: 53px;
                        height: 50px;
                        margin-right: -6px;
                        position: absolute;
                        top: 19px;
                        left: 43px;
                        display: block;
                    }
                    @extend .btn-wide;
                    @include round-left(0);
                }
            }
        }
    }
    .footer-atendimento {
        .contato {
            max-width: 740px;
            margin: 0 auto;
            padding: 30px 0 15px 0;
            overflow: hidden;
            > div {
                @include grid-media($grid-smartphone) {
                    text-align: center;
                    margin: 15px 0;
                }
            }
            i {
                float: left;
                font-size: 44px;
                margin-right: 18px;
                @include grid-media($grid-pp) {
                    display: none;
                }
            }
            strong {
                display: block;
                margin: 3px 0 5px 0;
            }
            a:not(.btn) {
                font-size: 1.3em;
            }
            .phone {
                a {
                    color: $font-dark;
                }
            }
        }
        .horario {
            color: $gray-dark;
            text-align: center;
        }
    }
    .footer-category {
        h2 {
            text-align: left;
            padding: 0;
            small {
                font-size: 15px;
                line-height: 26px;
                font-family: $font-heavy;
                color: $black;
            }
        }
        .icons {
            a {
                &:hover {
                    text-decoration: none;
                }
                i {
                    font-size: 24px;
                    padding: 0 2px;
                    color: $base-icon-footer;
                    &:hover {
                        text-decoration: none;
                        color: $base-color;
                    }
                }
            }
        }
        .cms-page-menu {
            @media screen and(max-width:425px) {
                .cms-page:not(:last-child) {
                    border-bottom: 1px solid #ccc;
                }
            }
            float: right;
            .cms-page {
                h2 {
                    small {
                        font-size: 15px;
                        line-height: 26px;
                        font-family: $font-heavy;
                        color: $black;
                    }
                }
                a {
                    color: $base-titulos;
                    &:hover {
                        color: $base-color;
                        text-decoration: none;
                    }
                }
                &.active {
                    small {
                        @include grid-media($grid-smartphone) {
                            &::after {
                                @include aws-icon("\f106");
                            }
                        }
                    }
                    .wd-page-menu {
                        > ul {
                            display: block;
                        }
                    }
                }
                small {
                    @include grid-media($grid-smartphone) {
                        &::after {
                            @include aws-icon("\f107");
                            float: right;
                        }
                    }
                }
                .wd-page-menu {
                    > ul {
                        padding-bottom: 15px;
                        @include grid-media($grid-smartphone) {
                            display: none;
                        }
                        li {
                            margin: 0;
                            margin-top: 15px;
                            a {
                                font-size: 14px;
                                line-height: 30px;
                                font-family: $font-family;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-social {
        * {
            text-align: center;
        }
        .box {
            max-width: 450px;
            margin: 0 auto;
            overflow: hidden;
        }
        .icons {
            a {
                padding: 1.3em 0.8em;
                display: inline-block;
            }
            i {
                font-size: 30px;
            }
        }
    }
    .certificados,
    .assinatura {
        background-color: transparent;
        color: $gray-dark;
    }
    .certificados {
        border-top: 1px solid $gray-medium;
        padding: 10px 0;
        .trustedcompany-seal {
            a {
                color: $base-vitrine;
                &:hover {
                    color: $base-color;
                }
            }
        }
        &.simples {
            border-top: 0;
        }
        .col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .title,
        .shields {
            float: left;
        }
        .title {
            margin-right: 10px;
        }
        .shields {
            > a {
                float: left;
                margin: 5px 10px;
                &.shield-letsencrypt {
                    width: 77px;
                    height: 63px;
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/lets-encrypt.png);
                }
            }
            .payment {
                width: 32px;
                height: 20px;
                margin: 5px;
                float: left;
                background-color: #fff;
                background-repeat: no-repeat;
                &.payment-pay-amex {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-amex.png);
                }
                &.payment-pay-code {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-code.png);
                }
                &.payment-pay-master {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-master.png);
                }
                &.payment-pay-visa {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-visa.png);
                }
            }
        }
    }
    .assinatura {
        .wrapper {
            > .row {
                border-bottom: 1px solid $gray-light;
                border-top: 1px solid $gray-light;
                padding: 30px 0;
                overflow: hidden;
            }
        }
        .aboutme {
            p {
                margin: 0;
            }
        }
        .copyright,
        .creators {
            text-align: center;
        }
        .creators {
            padding-top: 20px;
            overflow: hidden;
            small {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}

.contact-info {
    li {
        position: relative;
        a {
            color: $base-titulos;
            font-size: 14px;
            line-height: 28px;
            font-family: $font-family;
            &:hover {
                color: $flag;
                text-decoration: none;
            }
        }
        p {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            margin-left: 20px;
        }
        .fale-email {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            position: relative;
            bottom: 5px;
        }
        i.fas.fa-map-marker-alt {
            &::before {
                content: "";
            }
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/pin.svg?sdfe);
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 42px;
            top: -13px;
            left: -8px;
            transform: scale(0.45);
        }
        i.fas.fa-phone {
            &::before {
                content: "";
            }
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/phone-footer.svg?sdfe);
            background-repeat: no-repeat;
            position: absolute;
            width: 34px;
            height: 42px;
            top: -10px;
            left: -9px;
            transform: scale(0.45);
        }
        i.far.fa-envelope {
            &::before {
                content: "";
            }
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/email.svg?sdfe);
            background-repeat: no-repeat;
            position: absolute;
            width: 36px;
            height: 42px;
            top: -8px;
            left: -9px;
            transform: scale(0.52);
        }
        p.fale-email {
            margin-left: 20px;
        }
    }
}

.newsletter-flutuante {
    .input-email-marketing-newsletter {
        width: 79%;
        float: left;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
        input {
            //pra achar depois
            @include round-right(0);
            font-family: $font-family;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.4px;
            color: $base-icon-header;
        }
    }
    .input-button-marketing-newsletter {
        float: left;
        width: 21%;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
        button {
            background-color: $base-color-green;
            &::before {
                position: absolute;
                width: 100px;
                @include aws-icon("\f124");
                top: 15px;
                left: -5px;
            }
            @extend .btn-wide;
            @include round-left(0);
        }
    }
}
