body.overflow {
    position: fixed;
    overflow-y: scroll !important;
    width: 100%;
}

body.overflow-submenu {
    overflow-y: scroll !important;
    width: 100%;
    height: 100%;
}

.cart-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 101;
    position: fixed;
    display: none;
}

.wd-checkout-basket-summaryheader {
    padding-left: 25%;
    height: 14px;
    .summaryheader-content {
        display: none !important;
        &:hover {
            display: none !important;
        }
    }
    .summaryheader-content-show {
        @media screen and (max-width: 425px) {
            height: 100% !important;
        }
        display: block !important;
        &:hover {
            display: block !important;
            cursor: pointer;
        }
    }
    > a {
        position: relative;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
        b {
            font-size: 0;
            &:before {
                content: "";
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/bag.svg?xz3huuch);
                background-repeat: no-repeat;
                width: 41px;
                height: 44px;
                transform: scale(0.5);
                margin-right: -6px;
                position: absolute;
                top: -15px;
                left: -10px;
                display: block;
                margin-left: 8px;
            }
            @media screen and (max-width: 425px) {
                &:before {
                    content: "";
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/bag-mobile.svg?xz3huuch);
                    background-repeat: no-repeat;
                    width: 41px;
                    height: 44px;
                    transform: scale(0.55);
                    margin-right: -6px;
                    position: absolute;
                    top: -18px;
                    left: 0;
                    display: block;
                }
            }
            @media screen and(min-width: 426px) and (max-width: 768px) {
                &:before {
                    content: "";
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/bag-mobile.svg?xz3huuch);
                    background-repeat: no-repeat;
                    width: 41px;
                    height: 44px;
                    transform: scale(0.55);
                    margin-right: -6px;
                    position: absolute;
                    top: -18px;
                    left: -40px;
                    display: block;
                }
            }
            @media screen and(min-width: 769px) and (max-width: 991px) {
                &:before {
                    content: "";
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/bag-mobile.svg?xz3huuch);
                    background-repeat: no-repeat;
                    width: 41px;
                    height: 44px;
                    transform: scale(0.55);
                    margin-right: -6px;
                    position: absolute;
                    top: -18px;
                    left: 80px;
                    display: block;
                }
            }
        }
        .basket-size-wrapper {
            background-color: $black;
            color: $font-light;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 37px;
            top: -4px;
            font-size: 0.8em;
            text-align: center;
            line-height: 23px;
            font-weight: bold;
            border-radius: 2px;
            border: 0;
            @media screen and(max-width: 425px) {
                background-color: transparent;
                color: $black;
                width: 22px;
                height: 22px;
                position: absolute;
                left: 30px;
                bottom: -3px;
                font-size: 0.7em;
                text-align: center;
                line-height: 15px;
                font-weight: bold;
                border-radius: 2px;
                border: 0;
            }
            @media screen and (min-width: 426px) and (max-width: 768px) {
                background-color: transparent;
                color: $black;
                width: 22px;
                height: 22px;
                position: absolute;
                left: -12px;
                top: -13px;
                font-size: 1em;
                text-align: center;
                line-height: 23px;
                font-weight: bold;
                border-radius: 2px;
                border: 0;
            }
            @media screen and (min-width: 769px) and (max-width: 991px) {
                background-color: transparent;
                color: $black;
                width: 22px;
                height: 22px;
                position: relative;
                left: 85%;
                bottom: -3px;
                font-size: 1em;
                text-align: center;
                line-height: 23px;
                font-weight: bold;
                border-radius: 2px;
                border: 0;
            }
        }
    }
    &.empty {
        .wd-footer {
            display: none;
        }
        .wd-widget {
            padding: 20px 15px;
            text-align: center;
            .wd-header {
                display: block;
            }
            &:before {
                position: absolute;
                content: ":(";
                font-size: 35px;
                color: #636363;
                padding-bottom: 10px;
                display: block;
                top: 28%;
                left: 45%;
            }
            &:after {
                position: absolute;
                top: 35%;
                left: 25%;
                content: "Seu carrinho está vazio";
                font-size: 1.5em;
                line-height: 35px;
                color: $base-vitrine;
            }
        }
    }
    .wd-widget {
        ::-webkit-scrollbar {
            width: 6px;
            border-radius: 2px;
        }
        ::-webkit-scrollbar-button {
            display: none;
        }
        ::-webkit-scrollbar-track {
            border-radius: 2px;
        }
        ::-webkit-scrollbar-track-piece {
            background-color: $base-categoria;
        }
        ::-webkit-scrollbar-thumb {
            background-color: $base-icon-header;
            width: 6px;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-corner {
            width: 10px;
        }
        ::-webkit-resizer {
            width: 10px;
        }
        @media screen and (min-width: 768px) {
            position: fixed;
            width: 420px;
            height: 100vh;
            right: 0;
            top: 0;
            background-color: #fff;
            border: 1px solid $gray-light;
            padding: 5px;
            top: 0;
        }
        @media screen and (max-width: 425px) {
            position: fixed;
            width: 100%;
            right: 0;
            top: 0;
            background-color: #fff;
            border: 1px solid $gray-light;
            padding: 10px;
            top: 0;
        }
        .wd-header {
            color: $base-titulos;
            font-size: 18px;
            text-align: left;
            padding: 0;
            height: 42px;
            .wd-title {
                margin-left: 5px;
            }
            button.close-basket {
                position: absolute;
                background: transparent;
                background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Close_1808841.svg);
                background-repeat: no-repeat;
                background-size: 33%;
                width: 17px;
                height: 17px;
                top: 10px;
                left: 89%;
                opacity: 0.4;
                display: block;
                &:hover {
                    color: $base-titulos;
                }
            }
        }
        .wd-content {
            overflow-y: scroll;
            height: 60vh;
            color: $base-titulos;
            padding: 0;
            padding-bottom: 15px;
            margin: 0;
            .scroll-minicart {
                ul.product {
                    position: relative;
                    margin: 0 10px;
                    margin-top: 20px;
                    padding: 0;
                    border-bottom: 1px solid #ebebeb;
                    a {
                        li.img {
                            padding: 30px 10px;
                        }
                        li.name {
                            width: 200px;
                            position: relative;
                            padding-top: 10px;
                            bottom: 20px;
                            left: 10px;
                            font-family: $font-heavy;
                            color: $black;
                        }
                    }
                    .price-itemcart {
                        position: relative;
                        left: 0;
                        bottom: 0;
                        span.price {
                            font-size: 16px;
                            color: $base-vitrine;
                            font-weight: 900;
                        }
                    }
                    .removeItemFromCart {
                        width: 18px;
                        height: 18px;
                        position: relative;
                        left: 22%;
                        top: 5px;
                        cursor: pointer;
                        &:hover {
                            color: $base-color;
                        }
                    }
                    .adicionar-mais {
                        &:before {
                            content: "Qtd";
                            position: absolute;
                            top: -25px;
                            font-family: $font-heavy;
                            line-height: 30px;
                            color: $base-titulos;
                            font-weight: 900;
                        }
                        position: absolute;
                        width: 104px;
                        left: 85px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        line-height: 0;
                        margin: 0;
                        margin-top: 15px;
                        button.botaoMenosMinicart {
                            width: 30%;
                            height: 42px;
                            border-radius: 0;
                            @include round-left($radius: 2px);
                            border: 0;
                            border-left: 2px solid $base-outline;
                            border-top: 2px solid $base-outline;
                            border-bottom: 2px solid $base-outline;
                            background: transparent;
                            color: $base-color;
                            font-size: 22px;
                            padding: 0;
                            font-weight: 700;
                        }
                        button.botaoMenosMinicartInativo {
                            width: 30%;
                            height: 42px;
                            border-radius: 0;
                            @include round-left($radius: 2px);
                            border: 0;
                            border-left: 2px solid $base-outline;
                            border-top: 2px solid $base-outline;
                            border-bottom: 2px solid $base-outline;
                            background: transparent;
                            color: $base-vitrine;
                            font-size: 22px;
                            padding: 0;
                            font-weight: 700;
                        }
                        input#cart-qty {
                            width: 40%;
                            height: 42px;
                            border: 0;
                            border-radius: 0;
                            border-top: 2px solid $base-outline;
                            border-bottom: 2px solid $base-outline;
                            text-align: center;
                            &:focus {
                                outline: none;
                            }
                        }
                        button.botaoMaisMinicart {
                            width: 30%;
                            height: 42px;
                            border-radius: 0;
                            @include round-right($radius: 2px);
                            border: 0;
                            border-right: 2px solid $base-outline;
                            border-top: 2px solid $base-outline;
                            border-bottom: 2px solid $base-outline;
                            background: transparent;
                            color: $base-color;
                            font-weight: bolder;
                            font-size: 21px;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .wd-footer {
            @media screen and (max-width: 425px) {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
            color: $base-titulos;
            padding: 15px 0 0 0;
            border-top: 1px solid $gray-light;
            .subtotal-summary {
                color: $base-titulos;
                padding: 0;
                margin: 20px 10px;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #ebebeb;
                @media screen and(max-width: 425px) {
                    padding: 0 2rem;
                }
                li.label {
                    margin: 0;
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-family: $font-heavy;
                    line-height: 26px;
                    font-weight: 900;
                    color: $base-titulos;
                }
                .value {
                    margin: 0;
                    margin-bottom: 20px;
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 26px;
                    letter-spacing: 0.5px;
                    color: $base-vitrine;
                }
            }
            .sprinter {
                display: flex;
                flex-direction: column;
                align-items: center;
                button.go-to-checkout {
                    &::before {
                        @include aws-icon("\f023");
                        font-size: 17px;
                        margin-right: 10px;
                        color: $font-light;
                    }
                    display: block;
                    background-color: $btn-buy;
                    width: 80%;
                    font-size: 17px;
                    font-weight: 900;
                }
                button.go-to-basket {
                    display: block;
                    background: transparent;
                    color: $base-color;
                    font-size: 15px;
                    line-height: 26px;
                    font-weight: 900;
                }
            }
        }
    }
}
