.hamburguer {
    position: initial;
    text-align: left;
    z-index: 100;
    padding-right: 0;
    &:after {
        position: relative;
        bottom: 5px;
        content: "Menu";
        font-size: 13px;
        font-family: $font-heavy;
        color: $base-titulos;
        line-height: 26px;
        font-weight: 900;
    }
    &.active {
        > i {
            &::before {
                @include aws-icon("\f00d");
            }
        }
        .dropdown-menu {
            display: block;
        }
    }
    > i {
        &::before {
            @include aws-icon("\f0c9");
            color: $base-color;
            font-size: 1.8em;
        }
    }
    @include grid-media($grid-g) {
        display: none;
    }
    @include grid-media($grid-gg) {
        display: none;
    }
    .dropdown-menu {
        @media screen and (max-width: 768px) {
            top: 0;
        }
        overflow: scroll;
        max-height: 100vh;
        height: 100%;
        display: none;
        background-color: #fff;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        top: 45px;
        z-index: 11;
        .account {
            padding: 0 15px;
            ul.unautenticated {
                a {
                    margin: 0;
                    padding: 0;
                    button.hamburguer-login {
                        background-color: transparent;
                        width: 100%;
                        border: 2px solid $base-color;
                        color: $base-color;
                        font-weight: 900;
                        font-family: $font-heavy;
                    }
                }
            }
            a {
                color: $base-titulos;
                font-weight: 900;
                line-height: 26px;
                padding: 10px 1em;
                display: block;
                font-size: 15px;
            }
        }
        .category-menu-small {
            .wd-category-menu {
                .level-1 {
                    > li.last {
                        margin-bottom: 30px;
                    }
                    > li {
                        margin: 0;
                        &.has-children {
                            h3 {
                                color: $base-titulos;
                                font-weight: 900;
                                line-height: 26px;
                                padding: 10px 1em;
                                display: block;
                                font-size: 15px;
                                .icon {
                                    float: right;
                                    &::after {
                                        content: "";
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        top: 10px;
                                        left: 0;
                                        position: relative;
                                        background-size: 40%;
                                        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                                        background-repeat: no-repeat;
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                        h3,
                        h4 {
                            font-size: 1em;
                            margin: 0;
                            text-transform: capitalize;
                        }
                        h3 {
                            border-bottom: 1px solid $gray-semilight;
                            padding: 1em;
                            a {
                                width: 100%;
                                display: block;
                            }
                        }
                        a {
                            color: $font-dark;
                        }
                        &.active {
                            h3 {
                                .icon::after {
                                    transform: rotate(270deg) !important;
                                    left: 6px;
                                    top: 0px !important;
                                }
                            }
                            .level-2 {
                                display: block;
                            }
                        }
                        .level-2 {
                            display: none;
                            padding: 0 15px;
                            border-bottom: 1px solid $gray-semilight;
                            h4 {
                                font-size: 14px;
                                font-family: $font-family;
                                line-height: 30px;
                                color: $base-titulos;
                            }
                        }
                    }
                }
            }
        }
        .hb-footer {
            background-color: $black;
            position: fixed;
            width: 100%;
            bottom: 0;
            .fale-conosco {
                > div {
                    padding: 20px 0;
                    border-bottom: 1px solid $base-outline;
                    strong {
                        padding: 0;
                        font-size: 16px;
                        color: $font-light;
                        line-height: 18px;
                        font-family: $font-heavy;
                        &::after {
                            content: "";
                            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633-white.svg?v2);
                            background-repeat: no-repeat;
                            background-size: 27%;
                            width: 42px;
                            height: 25px;
                            margin-right: -6px;
                            position: absolute;
                            top: 19px;
                            right: -10px;
                            display: block;
                        }
                    }
                }
            }
            .atendimento {
                margin-top: 10px;
                strong {
                    font-family: $font-heavy;
                    color: $font-light;
                }
                .telefone {
                    margin-top: 10px;
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        position: relative;
                        margin-left: 20px;
                        font-size: 13px;
                        font-family: $font-heavy;
                        font-weight: 900;
                        color: $font-light;
                        letter-spacing: 0.6px;
                        i.fas.fa-phone {
                            &::before {
                                content: "";
                            }
                            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/phone-hamburguer.svg?ssda);
                            background-repeat: no-repeat;
                            position: absolute;
                            width: 40px;
                            height: 42px;
                            top: -12px;
                            left: -33px;
                            transform: scale(0.4);
                        }
                        i.fab.fa-whatsapp {
                            font-weight: 100;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
