.category-bar {
  padding: 0;
  margin: 0;
  background-color: transparent;
  @include grid-media($grid-p) {
    display: none;
  }
  @include grid-media($grid-pp) {
    display: none;
  }
  .all-category {
    background-color: $darken-color;
    position: initial;
    .button-extend {
      position: relative;
      height: 100%;
      text-align: center;
      color: $font-light;
      padding: 0.66em 1.5em;
      width: 100%;
      box-sizing: border-box;
      line-height: 2em;
      cursor: pointer;
      .arrow-up {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ffffff;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -7px;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
      }
    }
    > .wd-category-menu {
      display: none;
      min-height: 300px;
      background-color: transparent;
      width: 100%;
      left: 0;
      z-index: 100;
      overflow: hidden;
      transition-delay: 100ms;
      .wd-category-menu {
        ul.level-1 {
          border-top: 0;
          overflow: hidden;
          > li {
            margin: 0;
            box-sizing: border-box;
            height: 200px;
            @include grid-column(3);
            * {
              font-size: $font-size;
            }
            h3 {
              border-bottom: 1px solid $gray-medium;
              padding-bottom: 10px;
              a {
                font-weight: 700;
              }
            }
            .sub-section {
              ul {
                li {
                  display: block;
                  float: none;
                  margin-bottom: 0;
                  h4 {
                    font-weight: normal;
                    margin: 0;
                    a {
                      font-size: 2.9em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &:hover {
      > .wd-category-menu {
        display: block;
      }
      .arrow-up {
        opacity: 1;
      }
    }
  }
  .main-category {
    margin: 0;
    margin-left: -15px;
    .section {
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        li {
          &.last {
            display: none !important;
          }
        }
      }
      > li {
        float: left;
        margin: 0 -10px;
        padding: 0;
        h3 {
          font-size: $font-size;
          font-weight: normal;
          display: inline-block;
          padding: 0;
          margin: 0;
          a {
            color: $base-titulos;
            padding: 17px;
            display: flex;
            height: 85px;
            text-decoration: none;
            font-family: Avenir Heavy;
            font-size: 15px;
            line-height: 39px;
            letter-spacing: 0;
            align-items: center;
          }
        }
        &:not(:first-child) {
          &:before {
            content: "";
            width: 1px;
            height: 12px;
            display: inline-block;
          }
        }
        &:hover {
          background-color: transparent;
          box-shadow: 0 2px 0 $base-color;
          .sub-section {
            padding: 39px;
            padding-left: 70px;
            @media screen and (min-width: 1200px) {
              left: -98px;
            }
            position: absolute;
            display: block;
            width: 74rem;
            border-top: 0;
            background-color: $font-light;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
            color: $base-titulos;
            z-index: 54;
            top: 87px;
            height: 336px;
            transition-delay: 100ms;
            font-family: $font-family;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0;
            .banner-main-category {
              padding: 0;
              margin: 0 !important;
              float: right;
              height: 260px;
              width: 260px;
              background-image: url(/custom/content/themes/#{$theme-path}/Imagens/banner-topo-teste.png?dsadasdassda);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              display: block;
            }
            ul {
              column-count: 2;
              li {
                &:first-child {
                  margin-top: 0;
                }
                &:last-child {
                  margin-bottom: 0;
                }
                h4 {
                  margin: 0;
                  a {
                    color: $base-titulos;
                    &:hover {
                      color: $base-color;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
            h2 {
              margin-top: 0;
            }
            .category-name {
              padding: 0;
              font-size: 24px;
              letter-spacing: 0;
              line-height: 36px;
              font-family: $font-heavy;
              color: $base-titulos;
            }
            * {
              font-size: $font-size;
            }
          }
        }
      }
    }
    .sub-section {
      display: none;
    }
  }
  .day-offer {
    background-color: $base-color-2;
    height: 46.66px;
    float: right;
    text-align: center;
    text-transform: uppercase;
    color: $font-light;
    line-height: 46px;
    cursor: pointer;
    flex: auto;
    &:hover {
      background-color: darken($base-color-2, 10%);
      .dropdown-oferta {
        display: block;
      }
    }
    .dropdown-oferta {
      display: none;
      position: absolute;
      right: 0;
      z-index: 2;
      transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .category-bar {
    .main-category {
      .section {
        > li {
          &:hover {
            .sub-section {
              width: 55rem;
            }
          }
        }
      }
    }
  }
}
