header {
    .top-bar {
        display: flex;
        background-color: $black;
        font-size: 0.9em;
        padding: 0px 0;
        color: $font-light;
        height: 32px;
        .row {
            margin: 0;
            padding: 0px 0;
            height: 100%;
        }
        .atendimento-topbar {
            padding: 7px 0;
            margin-right: 4rem;
            a.atendimento {
                font-family: $font-heavy;
                font-size: 13px;
                letter-spacing: 0.6px;
            }
            .icon-topbar {
                width: 32px;
                height: 32px;
            }
        }
        .cart-top {
            background-color: $btn-buy;
            padding: 10px 0;
            max-width: 8rem;
        }
        a {
            padding: 0;
            color: $font-light;
            word-spacing: 2px;
            font-family: $font-family;
            font-size: 13px;
            letter-spacing: 0.6px;
            i {
                font-size: 15px;
                margin-left: 10px;
                color: #acacac;
            }
            &:hover {
                color: $font-light;
                text-decoration: none;
            }
        }
        .telefone {
            letter-spacing: 1px;
            border-right: 1px solid $font-light;
            padding-right: 10px;
            margin-left: 25px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/phone.svg?v2);
                background-repeat: no-repeat;
                background-size: 27%;
                width: 53px;
                height: 100px;
                top: 1px;
                left: -22px;
            }
        }
        .whatsapp {
            padding-left: 8px;
            letter-spacing: 1px;
        }
    }
    .ofertas {
        text-align: left;
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .links {
        text-align: right;
    }
    .ofertas,
    .links {
        i {
            margin-right: 5px;
        }
    }
    &.flutuante {
        .top-bar {
            margin-bottom: 82px;
            .cart-top {
                position: fixed;
                top: 21px;
                right: 9.5rem;
                width: 75px;
                height: 46px;
                border-radius: 2px;
                z-index: 1000;
                .wd-checkout-basket-summaryheader {
                    top: 6px;
                    left: -4px;
                    > a {
                        .basket-size-wrapper {
                            left: 30px;
                        }
                        b {
                            &::before {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .main-bar {
            position: fixed;
            top: 0;
            z-index: 55;
            width: 100%;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            @media screen and (max-width: 425px){
                box-shadow: none;
            }
            .wd-profile-welcome-shopper {
                right: 45px;
            }
        }
    }
    .main-bar {
        z-index: 55;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        @media screen and (min-width: 1075px) {
            height: auto;
        }
        padding: 0;
        background: #fff;
        .wrapper {
            .row {
                margin: 0;
                padding: 0;
            }
        }
        &.simples {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        }
        .wd-search {
            overflow: inherit;
            .input-wrapper {
                @media screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }
                border: $base-outline;
                border-radius: 2px;
                margin-bottom: 0;
                width: 100%;
                height: 42px;
                input {
                    color: $base-icon-header;
                    font-size: 15px;
                    font-family: $font-family;
                    padding: 0 14px;
                    border-radius: 2px;
                    &:focus {
                        outline-color: $base-color;
                    }
                }
                .suggestion-box {
                    .suggestion-title {
                        font-size: 18px;
                        text-transform: capitalize;
                    }
                    ul {
                        li {
                            .suggestion-product-img {
                                margin-left: 8px;
                            }
                            .suggestion-product-description {
                                margin-left: 20px;
                                .suggestion-product-name {
                                    font-size: 14px;
                                    color: $base-vitrine;
                                }
                                .suggestion-product-price {
                                    font-size: 14px;
                                    color: $base-color;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
            button {
                &::before {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/search.svg?xz3huuch);
                    background-repeat: no-repeat;
                    width: 41px;
                    height: 44px;
                    transform: scale(0.45);
                    margin-right: -6px;
                    position: absolute;
                    top: 0;
                    left: -4px;
                    display: block;
                    content: "";
                }
                border-radius: 2px;
                padding-right: 16px;
                background-color: transparent;
                position: absolute;
                width: 70px;
                height: 42px;
                top: 0px;
                right: 0;
                width: auto;
                font-family: $font-heavy;
                font-weight: 900;
                @include round-left(0);
                color: $base-color;
            }
        }
        .wd-profile-welcome-shopper {
            position: relative;
            line-height: 30px;
            float: right;
            height: 90px;
            width: 124px;
            top: 25px;
            &:hover {
                .widget-content {
                    display: block;
                }
            }
            i.fa-user {
                font-size: 24px;
                padding-right: 5px;
                color: $base-color;
            }
            .widget-title {
                height: 65px;
                &:hover {
                    border-bottom: 2px solid $base-color;
                }
                i.fas.fa-user {
                    display: none;
                }
                i.fa.fa-chevron-down {
                    display: none;
                }
                .title {
                    &::before {
                        content: "";
                        background-image: url(/custom/content/themes/#{$theme-path}/Imagens/icones-svg/profile.svg?xzhuuch);
                        background-repeat: no-repeat;
                        width: 42px;
                        height: 42px;
                        transform: scale(0.8);
                        margin-right: -6px;
                        position: absolute;
                        top: 0px;
                        left: -40px;
                        display: block;
                    }
                    &::after {
                        font-family: $font-family;
                        font-size: 13px;
                        font-weight: 0;
                        position: absolute;
                        width: 100px;
                        content: attr(data-content);
                        top: 14px;
                        right: 0;
                    }
                    font-family: Avenir Heavy;
                    font-size: 13px;
                    z-index: 55;
                    font-weight: 700;
                    position: absolute;
                    top: 0px;
                    left: 35px;
                    width: 80%;
                    color: #404040;
                    cursor: pointer;
                    display: inline-block;
                    span {
                        color: $base-color;
                    }
                }
            }
            .widget-content {
                display: none;
                position: absolute;
                left: -78px;
                top: 65px;
                width: 204px;
                height: auto;
                padding: 15px 15px 0 15px;
                box-sizing: border-box;
                border: 2px solid $base-outline;
                border-radius: 2px;
                background: #fff;
                overflow: visible;
                z-index: 50;
                .login-wrapper {
                    display: block;
                    text-align: center;
                    left: 10px;
                }
                .new-user {
                    font-size: 13px;
                    line-height: 30px;
                    color: $base-icon-footer;
                    margin-left: 10px;
                }
                .new-account {
                    font-family: $font-heavy;
                    font-size: 15px;
                    line-height: 30px;
                    color: $base-color;
                    font-weight: 900;
                    margin-left: -10px;
                    &:hover {
                        text-decoration: none;
                    }
                    &::before {
                        content: "";
                    }
                    b {
                        display: none;
                    }
                }
                .my-account {
                    border-top: 1px solid #e2e2e2;
                    a {
                        display: block;
                        margin-left: 10px;
                        font-size: 15px;
                        font-weight: 900;
                        color: $base-color;
                        line-height: 40px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                .wd-profile-login {
                    display: none !important;
                }
                .login-title {
                    font-family: $font-heavy;
                    font-size: 15px;
                    line-height: 30px;
                    background-color: $base-color;
                    color: $font-light;
                    padding-top: 7px;
                    width: 150px;
                    height: 43px;
                    margin-bottom: 10px;
                    @include round(2px);
                }
                .shopper-authenticated {
                    a {
                        display: block;
                        margin-left: 10px;
                        font-size: 15px;
                        font-weight: 900;
                        color: $base-color;
                        line-height: 40px;
                        &:hover {
                            text-decoration: none;
                        }
                        &.put-pipe {
                            padding: 0;
                            &:before {
                                display: none;
                            }
                            b {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
            &.show-menu-on-click {
                .widget-content {
                    display: block !important;
                    z-index: 51;
                }
            }
        }
        .main-wishlist {
            font-size: 30px;
            text-align: center;
            a {
                color: $base-color-2;
                &:hover {
                    color: darken($base-color-2, 10%);
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    header .links {
        display: none;
    }
    .wd-profile-welcome-shopper {
        display: none;
    }
    #top-search {
        margin-top: 0;
    }
    .icons-resume {
        padding: 0;
        left: 15px;
        .main-wishlist,
        .dropdown-cart {
            padding: 0;
        }
        .dropdown-cart {
            font-size: 1.2em;
        }
    }
}

.icons-condicoes {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    @media screen and(max-width: 990px) {
        text-align: center;
    }
    i {
        position: relative;
        top: 7px;
        font-size: 30px;
        margin-right: 12px;
        color: $base-color;
    }
    i.fas.fa-truck {
        &::before {
            content: "";
        }
        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/truck.svg?dfdf);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        top: 30px;
        position: relative;
    }
    i.fas.fa-barcode {
        &::before {
            content: "";
        }
        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/611163-200.svg?sdfe);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        top: 28px;
        transform: scale(0.9);
        position: relative;
    }
    i.fas.fa-exchange-alt {
        &::before {
            content: "";
        }
        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_switch_1731130.svg?asd);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        top: 24px;
        transform: scale(0.8);
        position: relative;
    }
    i.fa.fa-credit-card {
        &::before {
            content: "";
        }
        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/card.svg?as23d);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        top: 31px;
        transform: scale(1);
        position: relative;
    }
    .text-area {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        margin-left: 5px;
        font-size: 0.6em;
        line-height: 22px;
        font-family: $font-heavy;
        color: $base-vitrine;
        @media screen and(max-width: 990px) {
            font-size: 10px;
        }
        p {
            font-size: 1.4em;
            padding: 0;
            margin-top: -12px;
        }
    }
}

@media only screen and(max-width: 1185px) {
    header {
        .top-bar {
            .atendimento-topbar {
                padding-left: 1rem !important;
            }
        }
    }
}

@media only screen and(max-width: 1024px) {
    header {
        .top-bar {
            .atendimento-topbar {
                margin-right: 2rem !important;
            }
        }
        &.flutuante {
            .top-bar {
                .cart-top {
                    right: 1.5rem !important;
                }
            }
            .main-bar {
                .categorias {
                    max-width: 23% !important;
                }
                .icons-resume {
                    position: relative;
                    left: 2rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1441px) {
    header {
        &.flutuante {
            .top-bar {
                .cart-top {
                    right: 10% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    header {
        &.flutuante {
            .top-bar {
                .cart-top {
                    right: 3% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    header {
        .main-bar {
            .magnifying-glass {
                display: block !important;
                i {
                    font-size: 1.5em;
                    color: $base-color;
                    position: relative;
                    right: 1rem;
                }
            }
        }
    }
}

.close-menu-mobile {
    display: flex;
    justify-content: space-between;
    color: #404040;
    line-height: 26px;
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 2rem;
    .close-menu {
        font-size: 30px;
    }
}
