.wd-checkout-basket {
    .empty-basket {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 18px;
        span {
            margin-top: 50px;
        }
        a {
            color: $base-color;
            font-weight: 900;
            margin-bottom: 50px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .botoes-rodape {
        .wd-checkout-basket-buttons {
            @include grid-media($grid-pp) {
                padding: 0 15px;
            }
            button {
                @include grid-media($grid-pp) {
                    width: 100% !important;
                }
            }
            .bt-keep-buying {
                margin-top: 0;
                margin-bottom: 34px;
            }
        }
    }
    .botoes-topo {
        @include grid-media($grid-pp) {
            display: none;
        }
    }
    .wd-checkout-basket-buttons {
        margin-bottom: 20px;
        width: 100%;
        .bt-keep-buying {
            float: left;
            margin-top: 34px;
            margin-left: 0;
        }
        .bt-clear-basket,
        .wd-checkout-basket-oneclickbuy,
        .bt-checkout {
            float: right;
            margin-right: 0;
        }
        .wd-checkout-basket-oneclickbuy {
            width: auto;
            margin-top: 15px;
            .btn-basket-oneclickbuy {
                @extend .btn-big;
                background-image: none;
                background-color: $base-color;
                text-indent: initial;
                padding: 1em 2em !important;
                width: auto;
                height: auto;
            }
        }
        small {
            display: block;
            font-size: 0.6em;
        }
    }
    .wd-product-additional-services {
        .add-service-wrapper {
            background: $gray-extralight;
            padding: 10px 14px 14px;
            border: 1px dashed $gray-semilight;
            color: $gray-dark;
            display: inline-block;
            margin: 10px 0;
            label {
                display: inline-block;
                font-size: 0.9em;
            }
        }
    }
    .basket-bottom {
        border: 0;
        border-top: 0;
        padding: 0;
        background-color: transparent;
        .wd-checkout-basket-discount,
        .wd-checkout-basket-deliveryoptions,
        .total,
        .total .price {
            border: 0;
            background-color: transparent;
        }
        .wd-checkout-basket-discount,
        .wd-checkout-basket-deliveryoptions {
            .header {
                display: none;
            }
        }
        .wd-checkout-basket-discount {
            padding: 15px 0;
            border-top: 1px solid $base-outline;
            border-bottom: 1px solid $base-outline;
            .btn-add-discount {
                font-family: $font-heavy;
                color: $base-titulos;
                font-weight: 900;
                cursor: pointer;
                i {
                    &::before {
                        content: "";
                    }
                }
                &::after {
                    content: "";
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 38%;
                    transform: rotate(90deg);
                    width: 20px;
                    height: 30px;
                    position: absolute;
                    top: 17px;
                    right: 6px;
                    display: block;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            label {
                width: auto;
            }
            #checkout-basket-discount-visible {
                display: none;
            }
            .description {
                height: auto;
                input {
                    width: 100%;
                    font-size: 15px;
                    max-width: 100%;
                    height: 42px;
                    padding-left: 15px;
                    margin: 20px 0;
                    border: 0;
                    border-radius: 2px;
                    border: 2px solid $base-outline;
                    &:focus {
                        border: 2px solid $base-color;
                        outline: none;
                    }
                }
                .js-coupon-calc {
                    @media screen and(max-width: 425px) {
                        right: 22px;
                    }
                    @media screen and (min-width: 426px) and(max-width: 768px) {
                        right: 30px;
                    }
                    position: absolute;
                    right: 10px;
                    bottom: 15px;
                    text-align: center;
                    width: 20%;
                    height: 42px;
                    padding-left: 0;
                    margin: 20px 0;
                    color: black;
                    background: transparent;
                    border: 0;
                    font-weight: 900;
                    color: $base-titulos;
                    &:hover {
                        color: $base-color;
                    }
                }
            }
            .grid {
                padding: 15px 0;
                .cupom {
                    > i {
                        display: none;
                    }
                }
                span {
                    display: block;
                    line-height: 1.6em;
                }
                .js-coupon-remove {
                    padding: 0;
                    background: transparent;
                    color: #06799f;
                    font-size: 0.9em;
                    width: auto;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        padding-right: 3px;
                    }
                }
                .price-item {
                    color: $price-off;
                }
            }
        }
        .wd-checkout-basket-deliveryoptions {
            .description {
                text-align: right;
                @include grid-media($grid-smartphone) {
                    text-align: left;
                }
                label {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .buscaCepCorreios {
                    padding-right: 15px;
                    @include grid-media($grid-smartphone) {
                        display: block;
                        margin-bottom: 15px;
                    }
                }
                input {
                    margin: 0;
                    width: 130px;
                    display: inline-block;
                    @include round-right(0);
                    @include grid-media($grid-smartphone) {
                        float: left;
                    }
                }
                .js-shipping-calc {
                    width: 90px;
                    padding: 1em;
                    float: right;
                    @include round-left(0);
                    @include grid-media($grid-smartphone) {
                        float: left;
                    }
                }
                .price {
                    display: none;
                }
            }
            .delivery-options {
                margin-top: 15px;
                float: left;
                ul {
                    li.js-delivery-choice {
                        padding: 0;
                        margin: 0;
                        .photo {
                            width: 50px;
                            height: auto;
                            vertical-align: middle;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .total {
            border-top: 2px solid $gray-semilight;
            padding: 15px 0 15px 30px;
            height: auto;
            .header {
                position: initial;
                margin: 0;
                .title {
                    font-size: 1.5em;
                }
            }
            .price {
                position: initial;
                width: 100%;
                height: auto;
                line-height: initial;
                text-align: right;
                font-weight: normal;
                span {
                    font-size: 1em;
                }
                .list-price {
                    color: $gray-dark;
                    span {
                        font-size: 1em;
                    }
                }
                .savings {
                    .total-discount,
                    .instant-price {
                        display: block;
                        font-size: 2em;
                        color: $cart-total;
                        font-weight: bold;
                    }
                    .variation-amount {
                        color: $price-off;
                        font-weight: bold;
                    }
                }
                .condition {
                    display: block;
                    font-size: 0.85em;
                    font-style: normal;
                    line-height: 1.5em;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    > .empty {
        background-color: #fff;
        font-size: 1.5em;
        &:before {
            content: ":(";
            font-size: 4em;
            display: block;
            color: $base-color;
        }
        span,
        a {
            display: block;
            border: 0;
            margin: 0;
        }
    }
}

.wd-checkout-basket.checkout-page {
    .basket-title {
        margin-bottom: 40px;
        .basket-text {
            font-size: 20px;
            font-weight: 900;
            color: $base-titulos;
        }
        .basket-icon {
            @media screen and(max-width: 425px) {
                display: none;
            }
            @media only screen and (min-width: 426px) and (max-width: 1120px) {
                width: 82%;
            }
            position: absolute;
            height: 2px;
            width: 88%;
            background-color: $base-titulos;
            top: 14px;
            right: 0;
        }
    }
    .basket-title-info {
        position: absolute;
        top: 90px;
        width: 75%;
        font-size: 16px;
        font-weight: 900;
        color: $base-titulos;
    }
    .detalhes {
        padding-right: 20px;
        @media screen {
        }
        border: 0;
        .continuar-compra {
            padding: 10px 0;
            a {
                font-family: $font-heavy;
                color: $base-color;
                font-weight: 900;
                &:hover {
                    text-decoration: none;
                }
            }
            @media screen and(max-width: 425px) {
                margin: 40px 0;
                padding: 20px;
                border-top: 2px solid $base-outline;
                border-bottom: 2px solid $base-outline;
                a {
                    color: $base-titulos;
                }
            }
        }
    }
    .resumo {
        height: auto;
        border: 2px solid $base-outline;
        border-radius: 2px;
        .resumo-cart {
            margin: 0 20px;
            padding: 13px 0;
            border-bottom: 1px solid $base-outline;
            .resumo-title {
                font-size: 16px;
                font-weight: 900;
                color: $base-titulos;
            }
        }
        .total {
            height: auto;
            border: 0;
            margin: 0;
            padding: 0 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .subtotal {
                border-top: 1px solid $base-outline;
                padding-top: 20px;
                margin: 20px 0;
                font-weight: 900;
                color: $base-titulos;
                .subtotal-price {
                    float: right;
                    font-size: 18px;
                    font-weight: 900;
                    color: $base-vitrine;
                }
            }
            .delivery {
                margin: 20px 0;
                font-weight: 900;
                color: $base-titulos;
                .frete-price {
                    float: right;
                    font-size: 18px;
                    font-weight: 900;
                    color: $base-vitrine;
                }
                span.shipping-date {
                    @media screen and(max-width: 768px) {
                        left: 0;
                    }
                    position: relative;
                    top: 15px;
                    left: -40px;
                    color: #929292;
                    font-weight: 100;
                }
            }
            .payment-total {
                padding: 20px 0;
                font-weight: 900;
                color: $base-titulos;
                .total-price {
                    float: right;
                    font-size: 18px;
                    font-weight: 900;
                    color: $base-vitrine;
                }
            }
            .button-finish.finish-cart {
                .bt-checkout.btn-wide.btn-buy {
                    @media screen and(max-width: 425px) {
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        margin: 0;
                        z-index: 40;
                    }
                    background-color: $base-color-green;
                    border: 0;
                    color: $font-light;
                    font-size: 18px;
                    line-height: 24px;
                    font-family: $font-heavy;
                    &::before {
                        top: 5px;
                        left: 17%;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .shipping {
            .wd-checkout-basket-deliveryoptions {
                .header {
                    h2 {
                        display: none;
                    }
                }
                padding: 20px;
                background-color: transparent;
                border: 0;
                .price {
                    display: none;
                }
                .description {
                    padding-top: 0;
                    .input-wrapper {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 0;
                        input {
                            font-size: 15px;
                            width: 100%;
                            height: 42px;
                            padding-left: 15px;
                            margin: 20px 0;
                            border: 0;
                            border-radius: 2px;
                            border: 2px solid $base-outline;
                            &:focus {
                                border: 2px solid $base-color;
                                outline: none;
                            }
                        }
                        .js-shipping-calc {
                            @media screen and(max-width: 425px) {
                                right: 19px;
                                top: 39px;
                            }
                            @media screen and (min-width: 426px) and(max-width: 768px) {
                                right: 20px;
                            }
                            position: absolute;
                            right: 10px;
                            text-align: center;
                            width: 20%;
                            height: 42px;
                            padding-left: 25px;
                            margin: 20px 0;
                            color: black;
                            background: transparent;
                            border: 0;
                            font-weight: 900;
                            color: $base-titulos;
                            &:hover {
                                color: $base-color;
                            }
                        }
                        a {
                            width: 100%;
                        }
                    }
                    .pesquisar-correios {
                        text-align: center;
                        font-size: 15px;
                        font-weight: 900;
                        line-height: 2;
                        a {
                            color: $base-color;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .delivery-options {
                    border: 0;
                    .location {
                        padding: 0;
                        border: 0;
                        .opcoes-delivery {
                            padding: 10px 0;
                            strong.name {
                                margin-right: 10px;
                            }
                            span.eta {
                                &::before {
                                    content: "Em média ";
                                    font-size: 13px;
                                }
                                text-transform: none;
                                margin-right: 10px;
                            }
                            input[type="radio"] {
                                -webkit-appearance: none;
                                top: 0;
                                width: 17px;
                                height: 17px;
                                border: 2px solid #dfdfdf;
                                border-radius: 2px;
                                left: -4px;
                            }
                            input[type="radio"]:checked {
                                position: relative;
                                width: 18px;
                                height: 18px;
                                border: 2px solid #dfdfdf;
                                border-radius: 2px;
                                &::before {
                                    content: "";
                                    top: 2px;
                                    left: 2px;
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    background-color: $base-color;
                                    border-radius: 2px;
                                }
                                + strong {
                                    color: #30499b;
                                    font-weight: bold;
                                }
                                + span {
                                    color: #30499b;
                                    font-weight: bold;
                                }
                                + strong {
                                    color: #30499b;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wd-checkout-basket-deliveryoptions {
    .types {
        li {
            padding: 0;
            border: 0;
        }
    }
}

.aproveite-tambem {
    .wd-browsing-product-carousel {
        .wd-product-list {
            .wd-product-list {
                height: auto !important;
                li {
                    width: 415px !important;
                }
            }
        }
        .wd-header {
            margin-bottom: 20px;
            margin-top: 10px;
            .wd-icon {
                @media screen and(max-width: 768px) {
                    width: 0 !important;
                }
                width: 90% !important;
            }
            .wd-title {
                @media screen and(max-width: 425px) {
                    font-size: 16px;
                    text-overflow: ellipsis;
                    max-width: 250px;
                    overflow: hidden;
                    white-space: nowrap;
                }
                @media screen and(max-width:320px) {
                    max-width: 200px;
                }
            }
        }
        .wd-content {
            margin-bottom: 50px;
            .wd-product-line {
                display: flex;
                flex-direction: row;
                padding: 0 15px;
                .wd-product-line-medias {
                    a {
                        max-width: 120px;
                        .variation {
                            img {
                                width: 90%;
                                height: auto;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .item-description {
                    padding-left: 1rem;
                    .name {
                        margin-top: 35px;
                        height: auto;
                        font-size: 14px;
                    }
                    .wd-product-price-description {
                        height: auto;
                        position: initial;
                        margin-bottom: 20px;
                        .sale-price span {
                            font-size: 16px;
                            color: $base-vitrine;
                        }
                        .list-price,
                        .condition {
                            display: none;
                        }
                    }
                }
            }
            .jcarousel-control-prev {
                @media screen and (max-width: 425px) {
                    top: -49px;
                    left: 75.9%;
                }
                width: 36px;
                height: 36px;
                border-radius: 2px;
                border: 2px solid #ebebeb;
                position: absolute;
                left: 92.5%;
                top: -51px;
                i {
                    &::before {
                        content: "";
                    }
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 23%;
                    display: block;
                    transform: rotate(180deg);
                    width: 53px;
                    height: 100px;
                    margin-right: -6px;
                    position: relative;
                    top: -73px;
                    left: -32px;
                }
            }
            .jcarousel-control-next {
                @media screen and (max-width: 425px) {
                    top: -49px;
                    left: 86.9%;
                }
                width: 36px;
                height: 36px;
                border-radius: 2px;
                border: 2px solid #ebebeb;
                position: absolute;
                left: 96.9%;
                top: -51px;
                i {
                    &::before {
                        content: "";
                    }
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 23%;
                    width: 53px;
                    height: 100px;
                    margin-right: -6px;
                    position: relative;
                    top: 6px;
                    left: 12px;
                    display: block;
                }
            }
        }
    }
}

body.BasketIndexRoute {
    .footer-newsletter {
        display: none !important;
    }
    .footer-topo {
        border-top: 1px solid $gray-medium;
    }
}

.opcoes-delivery input[type="radio"]:checked + strong {
    color: $base-color;
    font-weight: bold;
}
.opcoes-delivery input[type="radio"]:checked + strong + span {
    color: $base-color;
    font-weight: bold;
}
.opcoes-delivery input[type="radio"]:checked + strong + span + strong {
    color: $base-color;
    font-weight: bold;
}
