@media screen and (min-width: 376px) and (max-width: 768px) {
    .wd-checkout-basket-summaryheader {
        padding-left: 100%;
        &.empty {
            .summaryheader-content.wd-widget.summaryheader-content-show {
                &:after {
                    top: 37%;
                }
            }
            .wd-header {
                padding: 10px 0 !important;
            }
            .wd-footer {
                .subtotal-summary {
                    display: none;
                }
            }
        }
        .summaryheader-content {
            top: 0 !important;
            width: 100% !important;
            padding-left: 0;
            .wd-header {
                height: 42px;
                button.close-basket {
                    position: relative;
                    left: 100%;
                    top: -31px;
                }
            }
            .wd-content {
                height: 40vh;
                .scroll-minicart {
                    ul.product {
                        li.name {
                            line-height: 26px;
                            font-weight: 100;
                            color: $detail;
                        }
                        li.removeItemFromCart {
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: 93.4%;
                            top: -8px;
                            cursor: pointer;
                        }
                        li.price-itemcart {
                            position: relative;
                            left: 4%;
                            bottom: 0;
                            .price {
                                font-size: 14px;
                            }
                        }
                        .adicionar-mais {
                            width: 95px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .wd-checkout-basket-summaryheader {
        &.empty {
            .summaryheader-content.wd-widget.summaryheader-content-show {
                &:after {
                    top: 37%;
                    left: 20%;
                }
            }
            .wd-header {
                padding: 10px 0 !important;
            }
            .wd-footer {
                .subtotal-summary {
                    display: none;
                }
            }
        }
        .summaryheader-content {
            top: 0 !important;
            width: 100% !important;
            padding-left: 0;
            .wd-header {
                button.close-basket {
                    position: relative;
                    left: 100%;
                    top: -31px;
                }
            }
            .wd-content {
                height: 40vh;
                .scroll-minicart {
                    ul.product {
                        li.removeItemFromCart {
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: 93.4%;
                            top: -8px;
                            cursor: pointer;
                        }
                        li.price-itemcart {
                            position: relative;
                            left: 50%;
                            bottom: 30px;
                            .price {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .wd-checkout-basket-summaryheader {
        &.empty {
            .summaryheader-content.wd-widget.summaryheader-content-show {
                &:after {
                    top: 37%;
                    left: 18%;
                }
            }
            .wd-header {
                padding: 10px 0 !important;
            }
            .wd-footer {
                .subtotal-summary {
                    display: none;
                }
            }
        }
        .summaryheader-content {
            top: 0 !important;
            width: 100% !important;
            padding-left: 0;
            .wd-header {
                button.close-basket {
                    position: relative;
                    left: 100%;
                    top: -31px;
                }
            }
            .wd-content {
                height: 40vh;
                .scroll-minicart {
                    ul.product {
                        .adicionar-mais {
                            width: 95px;
                        }
                        li.removeItemFromCart {
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: 93.4%;
                            top: -8px;
                            cursor: pointer;
                        }
                        li.price-itemcart {
                            position: relative;
                            left: 43%;
                            bottom: 32px;
                            .price {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .wd-checkout-basket.checkout-page {
        .detalhes {
            padding-right: 0;
            .continuar-compra {
                &::before {
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 46%;
                    content: "";
                    width: 18px;
                    height: 15px;
                    position: relative;
                    top: 0;
                    left: -27px;
                    display: block;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    header {
        .main-bar {
            .basket-summary {
                .wd-checkout-basket-summaryheader {
                    padding-left: 0 !important;
                }
            }
        }
    }
}
