.wd-checkout-basket-grid {
  .grid {
    border: 0;
    .grid-title {
      background-color: $gray-extralight;
      li {
        font-weight: bold;
        padding: 5px 30px;
        text-align: center;
        &.product {
          text-align: left;
        }
        &.subtotal {
          text-align: right;
        }
      }
    }
    .grid-informations {
      border-top: 1px solid $base-outline;
      margin-top: 48px;
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        margin-top: 65px;
      }
      li {
        ul {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
      .item {
        border: 0;
        margin-bottom: 0;
        .data {
          @media screen and(max-width: 425px) {
            margin-bottom: 40px;
          }
          a {
            font-size: 16px;
            color: $base-titulos;
            &:hover {
              text-decoration: none;
            }
          }
          strong {
            display: none;
          }
          span.referencia {
            display: none;
          }
        }
        li.product {
          padding: 0;
        }
        .photo {
          margin: 0;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .data {
          display: inline-block;
          padding-left: 15px;
          @media screen and(max-width: 425px) {
            button.btn-remove.btn-remove-mobile {
              position: absolute;
              top: 2px;
              right: -10px;
              color: $base-vitrine;
              font-size: 15px;
            }
          }
          a {
            display: block;
            padding-bottom: 10px;
          }
          .warning {
            @extend .alert;
            @extend .warning;
            @extend .small;
            display: none;
          }
        }
        .is-gift.label {
          @include flag(inline);
        }
        .price {
          text-align: center;
          del {
            color: $gray-dark;
            font-size: 0.8em;
          }
        }
        .quantity {
          @media screen and (max-width: 425px) {
            text-align: left;
            position: absolute;
            top: 100px;
            left: 30%;
            .change {
              input.js-qty {
                max-width: 143px;
                width: 64%;
              }
            }
          }
          @media screen and (min-width: 426px) and (max-width: 768px) {
            top: 12px;
            .change {
              input.js-qty {
                max-width: 42px !important;
                width: 100%;
              }
              .js-qty-less,
              .js-qty-more {
                padding: 8px;
              }
            }
          }
          @media screen and (min-width: 769px) and (max-width: 1024px) {
            .change {
              input.js-qty {
                max-width: 40px !important;
                width: 100%;
              }
              .js-qty-less,
              .js-qty-more {
                width: 5px;
                padding: 15px;
              }
            }
          }
          margin: 0;
          padding: 0;
          text-align: right;
          button.btn-remove {
            @media screen and (min-width: 769px) and (max-width: 1024px) {
              bottom: 5px;
              right: -107px;
            }
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: -127px;
            width: 112px;
            height: 36px;
            border-radius: 2px;
            border: 2px solid $base-icon-header;
            color: $base-icon-header;
            font-size: 13px;
            font-weight: 900;
            padding-left: 15px;
            cursor: pointer;
            &::after {
              content: "";
              background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Close_1808841.svg);
              background-repeat: no-repeat;
              background-size: 100%;
              width: 17px;
              height: 17px;
              position: absolute;
              top: 8px;
              left: 16px;
              opacity: 0.4;
              display: block;
            }
            &:hover {
              cursor: pointer;
              text-decoration: none;
            }
          }
          .change {
            margin-right: 13px;
            width: 100%;
            span {
              @media screen and (max-width: 425px) {
                display: block;
              }
              display: none;
            }
            .js-qty-less {
              border: solid 2px $base-outline;
              border-right: 0;
              @include round-left($radius: 2px);
              background-color: transparent;
              font-weight: 900;
              color: $base-color;
              height: 42px;
            }
            .js-qty {
              border: solid 2px $base-outline;
              border-left: 0;
              border-right: 0;
              font-weight: 900;
              height: 42px;
              max-width: 45px;
            }
            .js-qty-more {
              border: solid 2px $base-outline;
              border-left: 0;
              @include round-right($radius: 2px);
              background-color: transparent;
              font-weight: 900;
              color: $base-color;
              height: 42px;
            }
            @include input-quantity(34px, 0.71em 0.9em, 50px, 36px);
          }
        }
        @media screen and (max-width: 425px) {
          .valor-unitario {
            position: relative;
            left: 25.1%;
            font-family: $font-heavy;
            color: $base-vitrine;
            font-size: 16px;
            top: 10px;
            span {
              font-family: $font-heavy;
              line-height: 40px;
              color: $base-titulos;
            }
          }
          .subtotal {
            position: relative;
            left: 22%;
            text-align: left !important;
            font-family: $font-heavy;
            color: $base-vitrine;
            font-size: 16px;
            top: 10px;
            span {
              font-family: $font-heavy;
              line-height: 40px;
              color: $base-titulos;
            }
          }
        }
        .subtotal {
          text-align: right;
        }
      }
      .nested-grid {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $gray-semilight;
        .nested {
          margin: 0;
          margin-left: 45px;
          max-width: -webkit-calc(100% - 45px);
          max-width: -moz-calc(100% - 45px);
          max-width: calc(100% - 45px);
          border-left: 1px solid $gray-semilight;
          border-bottom: 0;
          &:first-child {
            &::before {
              content: "Itens do Kit";
              position: absolute;
              top: -19px;
              font-weight: bold;
            }
          }
          .product {
            padding-left: 45px;
            @include grid-media($grid-tablet-desktop) {
              max-width: -webkit-calc(50% - 25px);
              max-width: -moz-calc(50% - 25px);
              max-width: calc(50% - 25px);
            }
            &::before {
              content: "";
              width: 30px;
              height: 1px;
              background: $gray-semilight;
              display: block;
              position: absolute;
              left: 0;
              top: 45px;
            }
          }
          .subtotal {
            strong {
              display: none;
            }
          }
        }
      }
      .bottom-grid {
        .text-subtotal,
        .subtotal {
          text-align: right;
          strong {
            font-size: 1.4em;
          }
        }
        .bt-clear-basket {
          padding: 10px 0;
        }
      }
    }
  }
}
