body {
    &.detalhe-produto {
        .wrapper-condicoes {
            display: none;
        }
    }
}

.product-detail {
    .title,
    .click-msg {
        font-size: 1.4em;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray-semilight;
        font-weight: normal;
    }
    .name {
        @media screen and(max-width: 425px) {
            padding: 0 !important;
        }
    }
    .head {
        margin: 0 0 50px 0;
        .medias {
            padding: 0;
            .wd-product-medias-displayer {
                .img {
                    width: 100% !important;
                    height: auto;
                    &:hover {
                        width: auto;
                    }
                }
                @media screen and(max-width:768px) {
                    .zoom {
                        img.image {
                            width: 100%;
                            height: auto;
                            pointer-events: none;
                        }
                    }
                }
                .zoom,
                img.ezZoom-small {
                    width: 100%;
                    height: auto !important;
                }
            }
            .wd-product-medias-enlarger {
                display: none !important;
            }
        }
        .information {
            * {
                &:not(.select-selected) {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    margin-left: 0 !important;
                }
            }
            padding-left: 50px;
            padding-right: 0;
            @include grid-media($grid-smartphone) {
                padding: 0;
            }
            .name {
                padding: 0;
                color: $black;
            }
            .logo-brand {
                img {
                    max-width: 80px;
                }
            }
            .wd-product-rating.wd-widget-js {
                padding-top: 12px;
            }
            .product-information {
                color: $gray-dark;
                font-size: 0.9em;
                margin-bottom: 20px;
                padding: 0;
                dd {
                    width: auto;
                    margin-right: 10px;
                }
                .short-description {
                    padding: 0;
                    border: 0;
                }
            }
            .detalhes {
                padding-left: 0;
                > .col {
                    padding: 0;
                }
                @include grid-media($grid-smartphone) {
                    padding: 0;
                }
                .wd-product-variations {
                    margin-right: 0;
                    .title {
                        border: 0;
                        margin: 0;
                        padding-bottom: 5px;
                        margin-top: 13px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .type-color-pallete {
                        .options.see-variations {
                            height: auto !important;
                        }
                        .options {
                            position: absolute;
                            border-radius: 2px;
                            width: 100%;
                            max-width: 253px;
                            height: 42px;
                            border: 1px solid $gray-medium;
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            z-index: 10 !important;
                            .btn-variations {
                                position: absolute;
                                z-index: 2;
                                height: 42px;
                                left: 0;
                                width: 100%;
                                background-color: transparent;
                                color: #000;
                                text-align: right;
                                padding-right: 10px !important;
                                span.icon {
                                    display: block;
                                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg);
                                    background-repeat: no-repeat;
                                    background-size: 18%;
                                    position: absolute;
                                    width: 50px;
                                    height: 50px;
                                    transform: rotate(90deg);
                                    top: 17px;
                                    left: 76%;
                                    padding-right: 10px;
                                    @media screen and (max-width: 768px) {
                                        left: 65%;
                                    }
                                }
                            }
                            span.error.variation-error {
                                margin-top: 5px;
                                text-align: center;
                                color: $base-color-red;
                            }
                            label.select-text {
                                @media screen and (max-width: 425px) {
                                    display: block;
                                }
                                padding: 12px;
                                b.option-text {
                                    top: 0;
                                    left: 15px !important;
                                    position: relative;
                                }
                            }
                            label.selected {
                                order: 0;
                            }
                            label {
                                border-left: 1px solid red;
                                order: 1;
                                padding: 0;
                                margin: 0;
                                border: 0;
                                width: 100%;
                                height: 42px;
                                background-color: white !important;
                                z-index: 1;
                                span.error.variation-error {
                                    position: absolute;
                                    width: 200px;
                                    height: 49px;
                                    z-index: 10;
                                    background-color: red;
                                }
                                span {
                                    width: 100%;
                                    height: 42px;
                                    background-repeat: no-repeat;
                                    border-radius: 0;
                                    background-position-y: 5px;
                                    background-position-x: 5px;
                                    background-size: 17% 71%;
                                    background-color: transparent;
                                    text-indent: 0;
                                    .option-text {
                                        position: relative;
                                        top: 12%;
                                        left: 25%;
                                        font-size: 14px;
                                        line-height: 30px;
                                        color: $base-titulos;
                                        @media screen and(max-width: 425px) {
                                            font-size: 9px;
                                        }
                                        @media screen and(min-width: 426px) and (max-width: 768px) {
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .subvariation-group {
                        margin-top: 55px;
                        .options {
                            select {
                                text-indent: 5px;
                            }
                        }
                    }
                }
                .wd-product-buy-grid,
                .single-variations,
                .multiple-variations {
                    width: 100%;
                    .click-msg {
                        padding-bottom: 15px;
                    }
                    th,
                    td {
                        text-align: center;
                        .stockTip {
                            width: 40px;
                            margin: 0 auto;
                        }
                    }
                }
                .wd-product-gift {
                    border: 0;
                    .title {
                        float: left;
                        width: 100%;
                    }
                    .wd-product-gift-inline {
                        float: left;
                        width: 100%;
                        ul {
                            li {
                                width: 100%;
                                padding: 15px 0;
                                border: 0;
                                border-bottom: 1px dashed $gray-medium;
                                input {
                                    float: left;
                                    margin-right: 15px;
                                }
                                .wd-gift-title {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-left: 15px;
                                }
                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .wd-product-join {
                    margin-bottom: 20px;
                    ul {
                        li {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .row.options-variations
                    .detalhes
                    + .product-qty
                    .wd-product-amount {
                    margin-left: 10px !important;
                }
            }
            .wd-product-amount {
                margin: 0;
                padding-top: 18px;
                @media screen and (max-width: 425px) {
                    width: 92.4%;
                }
                &::before {
                    content: "Quantidade";
                    bottom: 5px;
                    position: relative;
                    font-size: 14px;
                    font-weight: 700;
                }
                .single {
                    display: flex;
                }
                .js-qty-less {
                    border-bottom-left-radius: 2px;
                    border-top-left-radius: 2px;
                    border: 0;
                    border-left: 1px solid $gray-medium;
                    border-top: 1px solid $gray-medium;
                    border-bottom: 1px solid $gray-medium;
                    background: transparent;
                    color: $base-color;
                    font-size: 22px;
                    padding: 0;
                    font-weight: 700;
                }
                .js-qty-more {
                    @include round-right($radius: 2px);
                    border: 0;
                    border-right: 1px solid $gray-medium;
                    border-top: 1px solid $gray-medium;
                    border-bottom: 1px solid $gray-medium;
                    background: transparent;
                    color: $base-color;
                    font-weight: 700;
                }
                .js-qty {
                    @media screen and (min-width: 426px) and (max-width: 768px) {
                        max-width: 36%;
                    }
                    @media screen and (max-width: 425px) {
                        width: 100px;
                    }
                    width: 162px;
                    height: 42px;
                    border: 0;
                    border-top: 1px solid $gray-medium;
                    border-bottom: 1px solid $gray-medium;
                    &:focus {
                        outline: none;
                    }
                }
                @include input-quantity(45px, 0.6em 0.6em, 60px, 38px, 1.2em);
                btn {
                    font-weight: bold;
                }
            }
            .buy {
                padding-right: 0;
                margin-top: 0;
                @include grid-media($grid-smartphone) {
                    padding: 0;
                }
                .buy-box {
                    background-color: transparent;
                    padding: 0;
                    border: none;
                    .wd-product-amount {
                        margin: 20px 0 10px;
                        .single {
                            display: flex;
                        }
                        .js-qty-less,
                        .js-qty-more {
                            background: transparent;
                        }
                        @include input-quantity(
                            45px,
                            0.6em 0.6em,
                            60px,
                            38px,
                            1.2em
                        );
                        btn {
                            font-weight: bold;
                        }
                    }
                    .wd-buy-button {
                        width: 100%;
                        margin: 15px 0;
                        .btn-buy {
                            @extend .btn-wide;
                            font-size: 1.5em;
                        }
                    }
                    .wd-product-oneclickbuy,
                    .wd-product-oneclickbuy > div {
                        width: 100%;
                        a:not(.url-read-more) {
                            @extend .btn;
                            @extend .btn-wide;
                            margin-bottom: 15px;
                        }
                        .text-account-text {
                            display: none;
                        }
                    }
                    .wd-product-notifywhenavailable {
                        width: 100%;
                    }
                    .wd-product-wishlist {
                        width: 100%;
                        .btn-product-wishlist-add {
                            @extend .btn-outline;
                            @extend .btn-wide;
                            padding: 15px;
                            font-family: $font-family;
                            font-size: 0.9em;
                            &:before {
                                content: "";
                                background-image: url(/custom/content/themes/Base/Imagens/icones-svg/phone-hamburguer.svg?ssda);
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 40px;
                                height: 42px;
                                top: -12px;
                                left: -33px;
                                transform: scale(0.4);
                            }
                        }
                    }
                }
            }
            .wd-product-deliveryfee {
                width: 100%;
                margin-bottom: 15px;
                margin-top: -20px;
                label {
                    font-size: 1.3em;
                    padding-bottom: 15px;
                }
                .show-cep {
                    width: 100%;
                    display: inline-block;
                    .input-wrapper {
                        display: inline-block;
                        width: 68%;
                        .postalcode-masked {
                            width: 100%;
                            padding-left: 10px !important;
                            font-size: 14px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            @include round-left($radius: 0);
                        }
                    }
                    .button-wrapper {
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        width: 29%;
                        button {
                            position: relative;
                            left: -3px;
                            top: -1px;
                            color: $font-light;
                            font-size: 12px;
                            font-family: $font-family;
                            height: 42px;
                            width: 100%;
                            background-color: $base-color-green;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }
            }
            .wd-product-payment-options {
                @media screen and (max-width: 425px) {
                    margin-top: 15px;
                    padding: 12px 0;
                    border-top: 1px solid $base-outline;
                    border-bottom: 1px solid $base-outline;
                }
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
                line-height: 30px;
                button {
                    border: 0;
                    padding: 0;
                    margin: 0;
                    color: $base-titulos;
                    height: 5px;
                    background-color: transparent;
                    &:hover {
                        background: transparent;
                        color: $base-color;
                    }
                    @media screen and (max-width: 425px) {
                        &::before {
                            content: "";
                            display: block;
                            background-image: url(/custom/content/themes/Base/Imagens/icones/card.png?v=1);
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 27px;
                            height: 27px;
                            padding: 3px;
                            margin-right: 0.5rem;
                            float: left;
                        }
                    }
                    &::after {
                        content: "";
                        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?diasdjja);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        width: 5px;
                        transform: rotate(90deg);
                        height: 15px;
                        float: right;
                        padding: 3px;
                        position: relative;
                        top: 0;
                        left: 3px;
                        opacity: 1;
                        @media screen and(min-width: 426px) and (max-width: 991px) {
                            top: -13px;
                            left: 7px;
                        }
                    }
                }
            }
            .wd-product-bundle {
                .wd-title {
                    font-size: 1.3em;
                    font-weight: bold;
                }
                .buy {
                    margin-top: 10px;
                }
                .bundle-items-wrapper {
                    padding-left: 0;
                    border-bottom: 0;
                }
                .bundle-itemtype-item {
                    padding: 20px 0;
                    background-color: #fff;
                    .title {
                        border: 0;
                        display: block;
                        padding: 0;
                        margin: 0;
                    }
                    .bundle-item-img {
                        img {
                            max-width: 80px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .wd-descriptions {
        margin-top: 50px;
        .wd-descriptions-toolbar {
            display: none;
        }
        &.tab-style {
            > .wd-title {
                display: none;
            }
            .wd-descriptions-nav {
                overflow: hidden;
                li {
                    background-color: transparent;
                    border-bottom: 0;
                    padding: 0;
                    margin: 0;
                    height: 25px;
                    left: -5px;
                    border: 0;
                    margin-right: 1rem;
                    a {
                        margin-right: 12px;
                        color: $base-vitrine;
                        font-family: $font-heavy;
                        font-size: 15px;
                        line-height: 26px;
                        font-weight: 900;
                        font-weight: normal;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &.wd-selected {
                        background-color: $font-light;
                        z-index: 1;
                        margin: 0;
                        border: 0;
                        border-bottom: 2px solid $base-color;
                        color: $base-color;
                        a {
                            color: $base-color;
                            font-family: $font-heavy;
                            font-size: 15px;
                            line-height: 26px;
                            font-weight: 900;
                            font-weight: normal;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .wd-content {
            position: relative;
            top: -1px;
            .wd-descriptions-panel {
                font-size: 16px;
                font-weight: normal;
                text-align: justify;
                line-height: 24px;
                color: $base-vitrine;
                border: 0;
                padding: 10px 0;
                margin: 0;
                .wd-descriptions-text {
                    display: flex;
                    padding: 1rem 0;
                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                        .container-texto {
                            max-width: 100% !important;
                            margin-top: 10px;
                            margin-left: 0 !important;
                        }
                        iframe {
                            width: 100%;
                            padding: 0 !important;
                        }
                    }
                    .container-texto {
                        order: 2;
                        text-align: justify;
                        max-width: 100%;
                    }
                    iframe {
                        order: 1;
                        width: 100%;
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    .wd-product-reviews {
        margin: 30px 0;
        .wd-content {
            padding: 25px;
            .wd-review-title {
                font-size: 1.1em;
            }
            .date {
                font-size: 0.9em;
            }
            cite {
                display: inline-block;
                margin: 0;
                font-style: normal;
            }
            .wd-review-text {
                padding: 10px 0;
                font-size: 1.1em;
            }
            .wd-review-paginate {
                text-align: center;
                ul {
                    display: inline-block;
                    padding-left: 0;
                }
            }
        }
        .wd-footer {
            .review-create {
                display: none;
            }
        }
    }
    .produto-flutuante {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: $gray-light;
        padding: 20px 0;
        border-top: 1px solid $gray-semilight;
        z-index: 100;
        img,
        .name {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            border: 1px solid $gray-semilight;
        }
        .name {
            padding-left: 15px;
            font-size: 1.15em;
        }
        .button {
            text-align: right;
        }
        .wd-product-price-description,
        .wd-buy-button {
            display: inline-block;
            padding: 0;
            margin: 0;
            width: auto;
            vertical-align: middle;
            text-align: right;
        }
        .wd-product-price-description {
            .condition,
            .savings {
                display: none;
            }
        }
        .wd-buy-button {
            padding-left: 15px;
            button {
                @extend .btn-big;
            }
        }
    }
}
.wd-product-medias {
    display: flex;
    flex-direction: row-reverse;
    @media screen and (max-width: 768px) {
        display: block;
        .wd-product-media-selector {
            display: block;
            ul {
                display: flex;
                flex-direction: row !important;
            }
        }
    }
    *:nth-child(6) {
        display: none;
    }
    .wd-product-medias-displayer {
        margin-top: 10px;
        margin-left: 10px;
    }
    .wd-product-media-selector {
        margin-top: 0px;
        @media screen and(max-width: 768px) {
            width: 100%;
        }
        width: 20%;
        ul {
            @media screen and(max-width: 768px) {
                justify-content: center;
            }
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            .image,
            .video {
                @media screen and(max-width: 768px) {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    border: 2px solid white;
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 0px 1px $base-icon-header;
                    -moz-box-shadow: 0px 0px 0px 1px $base-icon-header;
                    box-shadow: 0px 0px 0px 1px $base-icon-header;
                    img {
                        display: none;
                    }
                }
                border: 1px solid transparent;
                border-radius: 2px;
                padding: 20px 0;
                opacity: 0.5;
            }
            .image.selected,
            .video.selected {
                @media screen and(max-width: 768px) {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    border: 2px solid white;
                    background-color: $base-color;
                    -webkit-box-shadow: 0px 0px 0px 1px $base-icon-header;
                    -moz-box-shadow: 0px 0px 0px 1px $base-icon-header;
                    box-shadow: 0px 0px 0px 1px $base-icon-header;
                    img {
                        display: none;
                    }
                }
                border: 1px solid $detail;
                border-radius: 2px;
                padding: 20px 0;
                opacity: 1;
            }
        }
    }
}
.medidas {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    button {
        position: relative;
        left: 27px;
        @extend .btn-detail-product;
        &:hover {
            background: transparent;
            color: $base-color;
        }
        &::before {
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/ruler.svg?v2);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 0;
            width: 21px;
            height: 25px;
            position: absolute;
            top: -5px;
            left: -27px;
            display: block;
        }
    }
}
.buy-detail {
    .notigymewhenavailable-visible {
        display: none;
    }
    .wd-buy-button {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 23px;
        .btn-buy.must-validated {
            background-color: $gray-default !important;
            color: $base-titulos !important;
            &::before {
                display: none;
            }
        }
        .btn-buy {
            background-color: $base-color-green;
            border: none;
            color: $font-light;
            padding: 0;
            height: 55px;
            @extend .btn-wide;
            font-size: 18px;
            font-weight: 700;
            &:hover {
                color: $font-light;
                background-color: $darken-color;
            }
        }
    }
}
.short-details {
    margin-top: 10px;
    margin-bottom: 10px;
    p {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 0;
        margin-bottom: 2px;
        border-bottom: 0;
        font-weight: 700;
        color: $detail;
    }
    .short-description-detail {
        font-family: $font-family;
        font-size: 13px;
        line-height: 21px;
        color: $base-vitrine;
        font-weight: normal;
    }
    .more-description {
        color: $base-titulos;
        font-size: 13px;
        font-family: $font-heavy;
        position: relative;
        &:hover {
            cursor: pointer;
            text-decoration: none;
            color: $base-color;
        }
        &::after {
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 7px;
            height: 13px;
            position: absolute;
            top: 2px;
            right: -12px;
            display: block;
            transform: rotate(90deg);
        }
    }
}
.produto-frete-desejos {
    border-top: 1px solid $base-icon-header;
    border-bottom: 1px solid $base-icon-header;
    .frete {
        @media screen and(min-width: 426px) and (max-width: 991px) {
            padding-bottom: 0;
        }
        .consultar-valor-frete {
            .wd-product-deliveryfee {
                button {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        button {
            position: relative;
            left: 30px;
            @extend .btn-detail-product;
            padding-top: 12px !important;
            padding-bottom: 30px !important;
            &::before {
                content: "";
                background-image: url(/custom/content/themes/Base/Imagens/icones/truck.png?v2);
                background-repeat: no-repeat;
                transform: scale(0.55);
                width: 40px;
                height: 40px;
                position: absolute;
                top: 3px;
                left: -38px;
                margin-right: 3px;
            }
        }
    }
    .add-desejos {
        .wd-product-wishlist {
            button.btn-product-wishlist.btn-product-wishlist-add {
                @media screen and(min-width: 426px) and (max-width: 991px) {
                    left: 23px;
                }
                @media screen and (max-width: 425px) {
                    left: 22px;
                }
                font-size: 13px;
                font-weight: 900;
                background-color: transparent;
                color: $base-titulos;
                position: relative;
                padding-top: 14px !important;
                &:hover {
                    text-decoration: underline;
                    color: $base-color;
                }
                &::before {
                    content: "";
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/favorite.svg?ssda);
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 40px;
                    height: 42px;
                    top: -1px;
                    left: -33px;
                    transform: scale(0.45);
                }
            }
        }
    }
    .border-top {
        @media screen and(max-width: 991px) {
            border-top: 1px solid $base-icon-header;
        }
    }
    .button-right {
        text-align: right;
        @media screen and (max-width: 991px) {
            text-align: left;
        }
    }
}
.produto-compartilha-verifica {
    @media screen and (min-width: 426px) and (max-width: 991px) {
        height: 88px !important;
    }
    border-top: 1px solid $base-icon-header;
    border-bottom: 1px solid $base-icon-header;
    button.share {
        position: relative;
        left: 25px;
        @extend .btn-detail-product; // padding-top: 12px !important; // padding-bottom: 30px !important;
        &::before {
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/share.svg?s2sda);
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            width: 46px;
            height: 48px;
            top: -2px;
            left: -39px;
            transform: scale(0.4);
        }
    }
    button.verify-home {
        position: relative;
        @extend .btn-detail-product;
        padding-top: 12px !important;
        padding-bottom: 30px !important;
        @media screen and(max-width: 991px) {
            left: 20px;
        }
        &::before {
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/pin-detail.svg?s2sda);
            background-repeat: no-repeat;
            background-size: 80%;
            position: absolute;
            width: 46px;
            height: 48px;
            top: -5px;
            left: -33px;
            transform: scale(0.4);
        }
    }
    .border-top {
        @media screen and(max-width: 991px) {
            border-top: 1px solid $base-icon-header;
        }
    }
    .button-right {
        text-align: right;
        @media screen and (max-width: 991px) {
            text-align: left;
        }
    }
}
.comprar-flutuante {
    display: none;
    @media screen and(max-width: 767px) {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 50;
        height: 50px;
        background-color: transparent;
        .notigymewhenavailable-visible {
            display: none;
        }
        .bt-notifyme {
            width: 100%;
            border: 0;
            color: $font-light;
            font-size: 14px;
            background-color: $base-color-red;
            top: -17px;
            padding: 20px;
        }
        .btn-buy {
            width: 100%;
            border: 0;
            color: $font-light;
            padding-top: 14px;
            font-size: 22px;
            background-color: $base-color-green;
            @media screen and (max-width: 320px) {
                &::before {
                    top: 0;
                    left: 25%;
                }
            }
            @media screen and (min-width: 321px) and (max-width: 375px) {
                &::before {
                    top: 0;
                    left: 28%;
                }
            }
            @media screen and (min-width: 376px) and (max-width: 425px) {
                &::before {
                    top: 0;
                    left: 30%;
                }
            }
        }
        .btn-buy.must-validated {
            background-color: $gray-default !important;
            color: $base-titulos !important;
            &::before {
                display: none;
            }
        }
    }
}
.video-wrapp {
    display: none;
}
.interessar-por {
    .wd-browsing-product-carousel {
        .wd-header {
            margin-bottom: 20px;
            margin-top: 10px;
            .wd-icon {
                @media screen and(max-width: 768px) {
                    width: 0 !important;
                }
                width: 90% !important;
            }
            .wd-title {
                // @media screen and(max-width: 425px) {
                // font-size: 16px;
                // text-overflow: ellipsis;
                // max-width: 250px;
                // overflow: hidden; // white-space: nowrap; // }
                @media screen and(max-width:320px) {
                    max-width: 200px;
                }
            }
        }
        .wd-content.slick-initialized.slick-slider {
            button.slick-prev.slick-arrow,
            button.slick-next.slick-arrow {
                display: none !important;
            }
        }
        .wd-content {
            .jcarousel-control-prev {
                @media screen and (max-width: 425px) {
                    display: none;
                }
                width: 36px;
                height: 36px;
                border-radius: 2px;
                border: 2px solid $base-outline;
                position: absolute;
                left: 92.5%;
                top: -51px;
                i {
                    &::before {
                        content: "";
                    }
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 23%;
                    display: block;
                    transform: rotate(180deg);
                    width: 53px;
                    height: 100px;
                    margin-right: -6px;
                    position: relative;
                    top: -73px;
                    left: -32px;
                }
            }
            .jcarousel-control-next {
                @media screen and (max-width: 425px) {
                    display: none;
                }
                width: 36px;
                height: 36px;
                border-radius: 2px;
                border: 2px solid $base-outline;
                position: absolute;
                left: 96.9%;
                top: -51px;
                i {
                    &::before {
                        content: "";
                    }
                    background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                    background-repeat: no-repeat;
                    background-size: 23%;
                    width: 53px;
                    height: 100px;
                    margin-right: -6px;
                    position: relative;
                    top: 6px;
                    left: 12px;
                    display: block;
                }
            }
        }
    }
}
.wd-product-line-medias.wd-product-line-medias-variations.wd-widget-js {
    display: none;
}
@media screen and(max-width:425px) {
    body.open-variations {
        overflow: hidden;
        .variacoes.see-top-variations {
            position: fixed;
            left: 0;
            top: 137px;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: $font-light;
            .type-color-pallete {
                .title {
                    display: none;
                }
                .options.see-variations {
                    max-width: 100% !important;
                    height: 100% !important;
                    border: 0 !important;
                    padding-top: 56px;
                    position: fixed !important;
                    top: 90px;
                    background-color: #fff;
                    label {
                        background-color: transparent !important;
                        order: 1 !important;
                        &::before {
                            z-index: 99999999999999999;
                            position: absolute;
                            right: 20px;
                            content: "";
                            font-size: 0;
                            float: none;
                            display: inline-block;
                            background: #fff;
                            color: transparent;
                            height: 14px;
                            line-height: 14px;
                            width: 14px;
                            border-radius: 2px;
                            border: 2px solid #fff;
                            font-weight: 700;
                            box-shadow: 0px 0px 0px 1px $gray-semilight;
                            margin-top: 15px;
                        }
                        span {
                            margin-left: 20px !important;
                            background-size: 15% 80% !important;
                            b.option-text {
                                font-size: 12px !important;
                            }
                        }
                    }
                    label.select-text {
                        display: none !important;
                    }
                    label.selected {
                        order: 1 !important;
                        &::before {
                            background-color: #06799f;
                            color: transparent;
                        }
                    }
                    .btn-variations {
                        width: 92.8% !important;
                        margin-left: 3.5% !important;
                        top: 0;
                        background-color: transparent !important;
                        padding-left: 20px !important;
                        text-align: left !important;
                        border-bottom: 2px solid $base-outline;
                        span.no-desktop.no-medium {
                            display: block !important;
                            color: $base-titulos !important;
                            font-size: 15px;
                            line-height: 18px;
                            &::before {
                                content: "";
                                border: solid #636363;
                                border-width: 0 2px 2px 0;
                                display: inline-block;
                                padding: 4px;
                                transform: rotate(135deg);
                                position: relative;
                                right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.wd-product-socialmedia {
    margin: 0 !important;
}
