.wd-widget {
    overflow: hidden;
    .wd-header {
        span.wd-icon {
            display: inline-block;
        }
        .wd-title {
            display: inline-block;
            padding-bottom: 15px;
        }
    }
    &.wd-browsing-product-carousel,
    &.wd-product-list,
    &.wd-product-featured-list {
        margin-top: 30px;
        .wd-header {
            position: relative;
            clear: both;
            display: block;
            border-bottom: none;
            padding: 0;
            .wd-icon {
                position: absolute;
                top: 55%;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background: $base-titulos;
                &:before {
                    display: none;
                }
            }
            .wd-title {
                font-family: $font-heavy;
                position: relative;
                display: inline-block;
                color: $base-titulos;
                font-size: 20px;
                line-height: 26px;
                background: #fff;
                padding: 0 15px 0 0px;
            }
        }
    }
}

.wd-browsing-breadcrumbs {
    margin-bottom: 10px;
    margin-top: 10px;
    .location {
        display: none;
    }
    li {
        a {
            margin-right: 0.5rem;
        }
        &:not(.first) {
            margin-left: 0.5rem;
        }
        &.last {
            font-weight: bold;
        }
        @media screen and (max-width: 425px) {
            margin-left: 0 !important;
        }
    }
    li:not(.last) {
        &:after {
            @include aws-icon("\f105");
            color: $base-vitrine;
        }
        a {
            letter-spacing: 0.3px;
            font-family: $font-family;
            font-size: 14px;
            color: $base-vitrine;
        }
    }
    @media screen and(max-width: 425px) {
        li {
            &:after {
                @include aws-icon("\f105");
                color: $base-vitrine;
            }
            font-size: 15px;
            font-weight: 900;
            color: $base-titulos;
        }
        .first,
        .last {
            display: none;
        }
    }
    .last {
        strong {
            font-family: $font-family;
            font-size: 14px;
            font-weight: bold;
            color: $base-vitrine;
        }
    }
}

/* carrossel de marcas */

.wd-brand-carousel {
    li {
        width: auto;
        margin: 0 10px 0 0;
    }
    .jcarousel-control-prev,
    .jcarousel-control-next {
        line-height: 60px;
        i {
            color: $base-color;
            font-size: 30px;
            top: 15px;
            &:hover {
                color: $darken-color;
            }
        }
    }
}

.wd-marketing-banner {
    height: auto !important;
    line-height: 100% !important;
    img {
        height: 100% !important;
    }
    @include grid-media($grid-smartphone) {
        height: auto !important;
        line-height: normal !important;
        max-width: 100%;
    }
    span.botao-menos-banners {
        @media screen and (max-width: 425px) {
            width: 25px;
            height: 25px;
            left: 15px;
        }
        width: 46px;
        height: 46px;
        position: absolute;
        background-color: $font-light;
        border-radius: 2px;
        border: 2px solid #ebebeb;
        z-index: 1;
        top: 44%;
        left: 42px;
        cursor: pointer;
        &::before {
            @media screen and(max-width: 425px) {
                background-size: 16%;
                top: -82px;
                left: -38px;
            }
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v7771);
            background-repeat: no-repeat;
            background-size: 27%;
            width: 53px;
            height: 100px;
            transform: rotate(180deg);
            margin-right: -6px;
            position: relative;
            top: -65px;
            left: -26px;
            display: block;
        }
    }
    span.botao-mais-banners {
        @media screen and (max-width: 425px) {
            width: 25px;
            height: 25px;
            right: 15px;
        }
        width: 46px;
        height: 46px;
        position: absolute;
        background-color: $font-light;
        border-radius: 2px;
        border: 2px solid #ebebeb;
        z-index: 1;
        top: 44%;
        right: 42px;
        cursor: pointer;
        &::before {
            @media screen and(max-width: 425px) {
                background-size: 16%;
                top: 4px;
                left: 7px;
            }
            content: "";
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
            background-repeat: no-repeat;
            background-size: 27%;
            width: 53px;
            height: 100px;
            margin-right: -6px;
            position: relative;
            top: 10px;
            left: 15px;
            display: block;
        }
    }
    .banner-wrapper,
    .banner-default {
        height: auto !important;
    }
    .banner-wrapper,
    a {
        @include grid-media($grid-smartphone) {
            max-width: 100%;
            height: auto !important;
        }
    }
    &.slider {
        .slider-controller {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
            margin: 0;
            padding: 0.5em 2em;
            line-height: normal;
            display: flex;
            justify-content: center;
            li {
                font-size: 0;
                float: none;
                display: inline-block;
                background: $font-light;
                color: transparent;
                border: none;
                height: 14px;
                line-height: 14px;
                width: 14px;
                border-radius: 2px;
                border: 2px solid $font-light;
                font-weight: 700;
                box-shadow: none;
                box-shadow: 0px 0px 0px 1px $base-icon-header;
                @include grid-media($grid-smartphone) {
                    height: 16px;
                    line-height: 20px;
                    width: 16px;
                }
                &.current {
                    background-color: $base-color;
                    color: transparent;
                }
            }
        }
    }
    &:not(.menu-oferta) {
        img {
            max-width: 100%;
            height: auto;
            @include grid-media($grid-smartphone) {
                width: 100%;
            }
        }
    }
    &.grid {
        padding: 0;
        float: left;
        margin-bottom: 20px;
        @include grid-media($grid-m) {
            max-width: 100%;
            div {
                text-align: center;
            }
        }
        &:nth-child(2n) {
            float: right;
        }
    }
}

@media screen and (max-width: 1079px) {
    .wd-marketing-banner {
        a,
        .banner-wrapper {
            text-align: center !important;
        }
    }
}

body.grid-products {
    .wd-browsing-grid {
        .wd-content {
            header {
                display: block;
                @media screen and(max-width: 768px) {
                    .wd-browsing-grid-sorter {
                        span {
                            display: none;
                        }
                        select {
                            width: 100%;
                            margin-left: 0;
                            border-top: 2px solid $base-color;
                            border-left: 2px solid $base-color;
                            border-bottom: 2px solid $base-color;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 0;
                            color: $base-color;
                            background-color: white;
                            height: 55px;
                            font-size: 14px;
                            max-width: 100%;
                            &:focus {
                                outline: none;
                            }
                        }
                        margin: 0;
                        padding: 0;
                        width: 50%;
                        display: block;
                        position: fixed;
                        bottom: 0;
                        top: inherit;
                        left: 0;
                        z-index: 99;
                        min-width: 0;
                    }
                }
            }
        }
    }
}

#middle {
    header {
        overflow: auto !important;
        margin-top: 35px;
    }
}
