body {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-dark;
    margin: 0;
    padding: 0;
    &.grid-products {
        &.busca {
            #middle {
                header {
                    margin-top: 35px;
                }
            }
        }
        #middle {
            header {
                margin-top: 0;
            }
        }
    }
    &.grid-empty {
        .wd-browsing-breadcrumbs {
            display: none;
        }
    }
    &.BasketIndexRoute {
        .wd-browsing-breadcrumbs {
            display: none;
        }
    }
    // &.grid-products {
    //     select {
    //         max-width: 170px !important;
    //     }
    // }
    select {
        outline: none !important;
        max-width: 253px !important;
        width: 100%;
        text-indent: 5px;
        option {
            height: 42px !important;
        }
    }
    .wrapper-condicoes {
        background-color: white;
        height: 50px;
        border-top: 3px solid #ccc;
        .icons-condicoes {
            display: flex;
            justify-content: space-between;
            height: 50px;
            @media screen and (max-width: 1024px) {
                padding: 10px;
            }
            @media screen and (max-width: 768px) {
                justify-content: center;
            }
            div {
                padding-left: 0;
                i {
                    top: 7px !important;
                    width: 25px !important;
                    height: 26px !important;
                    background-size: contain;
                    margin: 0;
                    &.fa-barcode {
                        left: 5px;
                        top: 6px !important;
                    }
                    &.fa-exchange-alt {
                        top: 5px !important;
                        left: 8px;
                    }
                }
            }
            .text-area {
                position: relative;
                bottom: 5px;
                h3 {
                    font-size: 15px;
                }
            }
        }
    }
    .wrapper-condicoes-mobile {
        background-color: #eee;
        height: 50px;
        .icons-condicoes {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 1024px) {
                padding: 10px;
            }
            @media screen and (max-width: 768px) {
                justify-content: center;
                padding: 0;
            }
            .truck {
                display: flex;
                align-items: center;
                .fa-truck {
                    top: 10px;
                }
            }
        }
    }
    &.HomeRoute {
        .wd-browsing-breadcrumbs {
            display: none;
        }
    }
    .wd-hide {
        display: none;
    }
    &.area-profile {
        background-color: white;
    }
    #left {
        width: 250px;
        @media screen and(max-width: 425px) {
            width: 100%;
        }
    }
    .no-padding {
        padding: 0 !important;
    }
    .no-padding-desktop {
        @media screen and (min-width: 1200px) {
            padding: 0 !important;
        }
    }
    .margin-top {
        margin-top: 20px;
    }
    #footer,
    #header,
    #middle {
        min-width: auto;
    }
    #footer {
        margin-top: 50px;
    }
    a {
        text-decoration: none;
        color: $base-color;
        &:active {
            color: darken($base-color, 20%);
            text-decoration: none;
        }
        &:hover {
            color: darken($base-color, 20%);
            text-decoration: underline;
        }
    }
    input[type="color"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="text"],
    textarea,
    select {
        display: block;
        width: 100%;
        height: 42px;
        padding: 6px 12px;
        box-sizing: border-box;
        color: $font-dark;
        font-family: $font-family;
        background-color: #fff;
        background-image: none;
        border: 1px solid $gray-medium;
        @include round(2px);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s,
            -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        &.error {
            border: 1px solid darken($danger, 40%);
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
    }
    .input-group,
    .input-wrapper {
        margin-bottom: 15px;
        label {
            display: inline-block;
            margin-bottom: 5px;
            margin-top: 9px;
            font-weight: bold;
            vertical-align: top;
            font-size: 0.97em;
        }
        span.error {
            display: block !important;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul,
    ol {
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    h1 {
        font-family: Avenir Heavy;
        font-size: 24px;
        letter-spacing: 0;
        small {
            font-size: 0.7em;
        }
    }
    h2 {
        font-size: 22px;
        letter-spacing: 0;
        color: $base-titulos;
        small {
            font-size: 0.6em;
        }
    }
    h3 {
        font-size: 1.6em;
        letter-spacing: 0;
        small {
            font-size: 0.8em;
        }
    }
    h4 {
        font-size: 16px;
        letter-spacing: 0;
        small {
            font-size: 0.9em;
            letter-spacing: 0;
        }
    }
    h5 {
        font-size: 14px;
        letter-spacing: 0;
        small {
            font-size: 1em;
        }
    }
    h6 {
        font-size: 0.9em;
        small {
            font-size: 0.9em;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        margin-bottom: 15px;
        margin-top: 10px;
        font-weight: bold;
        small {
            font-weight: normal;
            display: block;
            margin-top: 15px;
        }
    }
    p {
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 1.2em;
    }
    figure {
        margin: 0;
    }
    fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    button {
        cursor: pointer;
    }
    table {
        thead th,
        tbody td,
        tfoot td {
            border-bottom: 1px solid $gray-light;
            padding: 0.5em 0 !important;
        }
        thead {
            th {
                text-transform: uppercase;
                text-align: left;
                font-size: 0.9em;
            }
        }
        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .hide {
        display: none !important;
    }
    &.columns-2-left {
        #content {
            @include minus($wrapper, 250px);
            clear: none;
            @media screen and(max-width: 768px) {
                width: 100%;
            }
            #content-wrapper {
                margin: 0;
            }
        }
    }
    #logo {
        padding: 10px 0;
        @media screen and (min-width: 1200px) {
            h1 {
                margin: 0;
            }
            a {
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/logo.png?xzhuuch);
                background-repeat: no-repeat;
                display: table;
                width: 63px;
                height: 70px;
                float: left;
                font-size: 0;
                margin: 0 auto;
                background-position-y: -2px;
            }
        }
        @media screen and (max-width: 425px) {
            a {
                background-position-x: center;
                background-position-y: 10px !important;
                height: 60px !important;
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/logo_mobile.jpg?croccroc) !important;
            }
        }
        h1 {
            margin: 0;
        }
        a {
            background-image: url(/custom/content/themes/#{$theme-path}/Imagens/logo.png?jiuh);
            background-repeat: no-repeat;
            display: block;
            width: 63px;
            height: 70px;
            font-size: 0;
            margin: 0 auto;
            background-position-y: -2px;
        }
    }
    #overlay {
        position: absolute;
        width: 100%;
        background: $gray-dark;
        opacity: 0.5;
        z-index: 50;
    }
    #content {
        &.flutuante {
            padding-top: 150px;
        }
    }
}

.wrapper,
.grid-products #middle,
[class^="context-category"] #middle {
    @include grid-container;
    position: relative;
    margin: 0 auto;
    .row {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media screen and (min-width: $wrapper) {
    .wrapper,
    .grid-products #middle,
    [class^="context-category"] #middle {
        @include wrapper-width();
    }
}

@media screen and (max-width: ($wrapper - 1px)) {
    #middle {
        padding: 15px;
    }
    .wrapper,
    .grid-products #middle,
    [class^="context-category"] #middle {
        @include wrapper-width(100%);
    }
}

@media screen and (max-width: 991px) {
    .no-medium {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .no-small {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .no-desktop {
        display: none !important;
    }
}

button {
    &.btn-buy {
        padding: 1rem !important;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    @keyframes animateHideSearchBar {
        from {
            height: 55px;
            opacity: 1;
        }
        to {
            height: 0;
            opacity: 0;
        }
    }
    @keyframes animateShowSearchBar {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 55px;
            opacity: 1;
        }
    }
    .hide-search-bar-mobile {
        height: 0;
        overflow: hidden;
        animation: animateHideSearchBar linear 0.4s;
        -webkit-animation: animateHideSearchBar linear 0.4s;
    }
    .animate-search-bar {
        height: auto;
        animation: animateShowSearchBar linear 0.4s;
        -webkit-animation: animateShowSearchBar linear 0.4s;
    }
}

.custom-select {
    width: 250px;
    position: relative;
    select {
        display: none !important;
    }
    .select-selected {
        display: flex !important;
        align-items: center;
        height: 42px;
        cursor: pointer;
        padding: 8px 16px;
        border: 1px solid #e5e5e5;
        background-color: white;
        color: black;
        &::after {
            content: "";
            // position: absolute;
            // top: 10px;
            // right: 25px;
            // height: 1vw;
            // width: 1vw;
            // border-style: solid;
            // border-color: $base-color;
            // border-width: 0px 1px 1px 0px;
            // transform: rotate(45deg);
            // -webkit-transform: rotate(45deg);
            // -moz-transform: rotate(45deg);
            // -ms-transform: rotate(45deg);
            // -o-transform: rotate(45deg);
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg);
            background-repeat: no-repeat;
            background-size: 18%;
            position: absolute;
            width: 50px;
            height: 50px;
            transform: rotate(90deg);
            top: 17px;
            left: 76%;
            padding-right: 10px;
        }
        &.select-arrow-active {
            &::after {
                transform: rotate(-90deg);
                top: -25px;
                left: 225px;
                // top: 20px;
                // border-width: 1px 0 0 1px;
            }
        }
    }
    .select-items {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        border: 1px solid #e5e5e5;
        background-color: white;
        cursor: pointer;
        div {
            align-items: center;
            height: 42px;
            display: flex;
            padding: 8px 16px;
            color: black;
        }
    }
    .select-hide {
        display: none;
    }
}
body {
    &.grid-products {
        #content {
            #content-wrapper {
                .wd-browsing-grid {
                    .wd-content {
                        header {
                            overflow: visible !important;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}
.wd-browsing-grid-sorter {
    select {
        display: none !important;
    }
}
