.btn,
button {
    display: inline-block;
    position: relative;
    padding: 1em 2em;
    cursor: pointer;
    background: $base-color;
    color: $font-light;
    font-family: $font-family;
    font-size: 0.875rem;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: none;
    border-bottom-color: tint($base-color, 15%);
    @include round(2px);
    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    &:hover,
    &.btn-hover {
        text-decoration: none;
        color: $font-light;
        background-color: tint($base-color, 15%);
        border-bottom-color: $base-color;
    }
    &.btn-small {
        padding: 0.7em 1em;
        font-size: 0.75rem;
    }
    &.btn-outline {
        background: $font-light;
        border: 1px solid $base-color;
        color: $base-color;
        &:active {
            background: tint($font-dark, 60%);
            color: $base-color;
        }
        &:hover {
            background: tint($font-dark, 90%);
            color: $base-color;
        }
    }
    &.btn-big {
        font-size: 1.125rem;
        line-height: 1.2em;
        height: 75px;
    }
    &.btn-huge {
        font-size: 1.625rem;
    }
    &.btn-wide {
        width: 100%;
        text-align: center;
    }
    &[disabled] {
        background-color: tint($font-dark, 70%);
        font-weight: 500;
        color: tint($font-dark, 40%);
        border-bottom-color: tint($font-dark, 10%);
        cursor: wait;
    }
    &.btn-buy {
        background-color: transparent;
        border-radius: 2px;
        border: 2px solid $base-color;
        color: $base-color;
        font-weight: bold;
        @media screen and (min-width: 1200px) {
            min-width: 200px;
        }
        &:before {
            content: "";
            display: block;
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/bag.svg?v2);
            background-repeat: no-repeat;
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(0.6);
            top: 3px;
            left: 147px;
            padding-right: 10px;
            @media screen and(min-width: 426px) and (max-width: 820px) {
                top: 3px;
                left: 14%;
            }
            @media screen and(min-width: 821px) and (max-width: 1024px) {
                top: 3px;
                left: 22%;
            }
        }
        &:active {
            background: tint($btn-buy, 20%);
        }
        &:hover {
            background: transparent;
        }
        small {
            display: block;
            font-size: 0.6em;
            opacity: 0.8;
            line-height: 1.5em;
        }
    }
    &.bt-notifyme {
        margin: 15px 0;
        @extend .btn-wide;
        background: transparent;
        padding: 15px;
        border: 1px solid #d0021b;
        font-family: $font-heavy;
        font-size: 18px;
        color: #d0021b;
        &:active {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &::before {
            @include aws-icon("\f0e0");
        }
    }
    &.btn-remove {
        padding: 0;
        background: transparent;
        color: $base-color;
        font-size: 0.9em;
        &:hover {
            color: $darken-color;
        }
        i {
            padding-right: 3px;
        }
    }
    &.btn-detail-product {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        border: 0;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: $base-titulos;
        height: 5px;
        &:hover {
            background: transparent;
            color: $base-color;
            text-decoration: underline;
        }
    }
}