// nome da pasta do tema
$theme-path: "Base";
// colors
$base-color: #30499b;
$base-color-2: #ff8973;
$base-color-green: #1f8a36;
$base-color-red: #d0021b;
$base-titulos: #404040;
$base-vitrine: #636363;
$base-icon-footer: #949494;
$base-icon-header: #acacac;
$base-outline: #d9d9d9;
$base-categoria: #f8f8f8;
$detail: #252525;
$black: #000000;
$darken-color: mix($base-color-green, black, 80%);
$lighten-color: mix($base-color, white, 80%);
$font-dark: #444444;
$font-light: #fff;
$gray-dark: #777;
$gray-medium: #ccc;
$gray-semilight: #dfdfdf;
$gray-light: #eee;
$gray-extralight: #f1f1f1;
$gray-default: #f2f2f2;
$btn-buy: #1f8a36;
$price-off: #a1000c;
$cart-total: #22884f;
$cart-destaque: #22884f;
// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning: #fcf8e3;
$danger: #f2dede;
//flags
$flag: #30499b;
// fonts settings
$font-family: Avenir Regular;
$font-size: 14px;
// font variations
$font-heavy: Avenir Heavy;
$font-roman: Avenir Roman;
$font-medium: Avenir Medium;
// structure
$wrapper: 1171px;
// quantidade de produtos por linha em vitrine carrossel
$qtd-products-vitrine: 4;
$grid-pp: (
    columns: 12,
    gutter: 20px,
    media: "screen and (max-width: 575px)"
);
$grid-p: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 575px) and (max-width:767px)"
);
$grid-m: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 768px) and (max-width:991px)"
);
$grid-g: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 992px) and (max-width:1179px)"
);
$grid-gg: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width: 1180px)"
);
$grid-smartphone: (
    columns: 12,
    gutter: 20px,
    media: "screen and (max-width:767px)"
);
$grid-tablet-desktop: (
    columns: 12,
    gutter: 20px,
    media: "screen and (min-width:768px)"
);
$breakpoint-mobile: 768px;
