.wd-flags {
	position: absolute;
	 z-index: 10;
	 top: 0;
	.promocao {
		background-color: $base-color-red !important;
	}
	.flag-discount {
		background-color: $base-color-red !important;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 0.3px;
	}
	.flag {
		@include flag();
		
	}	

}