// Icons from directory ""
%icon {
    background-repeat: no-repeat;
}

.icon-611163-200,
.icon-611163-200\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 0;
}

.icon-611163-200-dims {
    width: 269px;
    height: 208px;
}

.icon-bag,
.icon-bag\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -208px;
}

.icon-bag-dims {
    width: 211px;
    height: 234px;
}

.icon-card,
.icon-card\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -442px;
}

.icon-card-dims {
    width: 266px;
    height: 170px;
}

.icon-check,
.icon-check\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -612px;
}

.icon-check-dims {
    width: 282px;
    height: 274px;
}

.icon-copy,
.icon-copy\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -886px;
}

.icon-copy-dims {
    width: 32px;
    height: 32px;
}

.icon-edit,
.icon-edit\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -918px;
}

.icon-edit-dims {
    width: 32px;
    height: 32px;
}

.icon-email,
.icon-email\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -950px;
}

.icon-email-dims {
    width: 251px;
    height: 168px;
}

.icon-equal,
.icon-equal\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1118px;
}

.icon-equal-dims {
    width: 32px;
    height: 32px;
}

.icon-favorite,
.icon-favorite\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1150px;
}

.icon-favorite-dims {
    width: 221px;
    height: 198px;
}

.icon-noun_Arrow_858633,
.icon-noun_Arrow_858633\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1348px;
}

.icon-noun_Arrow_858633-dims {
    width: 154px;
    height: 269px;
}

.icon-noun_Close_1808841,
.icon-noun_Close_1808841\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1617px;
}

.icon-noun_Close_1808841-dims {
    width: 32px;
    height: 32px;
}

.icon-noun_switch_1731130,
.icon-noun_switch_1731130\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1649px;
}

.icon-noun_switch_1731130-dims {
    width: 32px;
    height: 32px;
}

.icon-phone,
.icon-phone\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1681px;
}

.icon-phone-dims {
    width: 194px;
    height: 194px;
}

.icon-pin,
.icon-pin\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -1875px;
}

.icon-pin-dims {
    width: 187px;
    height: 242px;
}

.icon-plus,
.icon-plus\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -2117px;
}

.icon-plus-dims {
    width: 32px;
    height: 32px;
}

.icon-printer,
.icon-printer\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -2149px;
}

.icon-printer-dims {
    width: 288px;
    height: 300px;
}

.icon-profile,
.icon-profile\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -2449px;
}

.icon-profile-dims {
    width: 236px;
    height: 236px;
}

.icon-question,
.icon-question\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -2685px;
}

.icon-question-dims {
    width: 244px;
    height: 244px;
}

.icon-ruler,
.icon-ruler\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -2929px;
}

.icon-ruler-dims {
    width: 198px;
    height: 198px;
}

.icon-search,
.icon-search\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -3127px;
}

.icon-search-dims {
    width: 204px;
    height: 204px;
}

.icon-send,
.icon-send\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -3331px;
}

.icon-send-dims {
    width: 219px;
    height: 181px;
}

.icon-share,
.icon-share\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -3512px;
}

.icon-share-dims {
    width: 278px;
    height: 278px;
}

.icon-truck,
.icon-truck\:regular {
    @extend %icon;
    background-image: url("/custom/content/themes/#{$theme-path}/Imagens/icons/icons.png");
    background-position: 0 -3790px;
}

.icon-truck-dims {
    width: 276px;
    height: 200px;
}