.the-modal {
  max-width: 300px;
  .the-modal-container {
    background: $font-light;
    border-radius: 2px !important;
    height: 100%;
    padding: 35px;
    .alert.alert-warning {
      .btn {
        background: transparent;
        color: $base-color;
        border: 2px solid $base-color;
      }
    }
    .wd-header {
      margin-bottom: 20px;
      .wd-title {
        font-size: 2em;
      }
    }
    .wd-subtitle {
      font-size: 1.3em;
      padding: 15px 0;
    }
    .btn {
      margin-top: 10px;
    }
  }
}

.select-variation-modal,
.schedule-shifts-modal {
  .the-modal.opened {
    max-width: 80%;
    .the-modal-container,
    #iframe-modal {
      min-height: 500px;
    }
  }
}

.checkout-basket-content-modal,
.wd-profile-login-modal {
  .the-modal.opened {
    max-width: 500px;
    .the-modal-container,
    #iframe-modal {
      min-height: 200px;
    }
  }
}

.wd-product-deliveryfee-modal,
.wd-product-payment-options-modal {
  .the-modal.opened {
    max-width: 600px;
    .the-modal-container,
    #iframe-modal {
      min-height: 500px;
    }
  }
  img {
    max-width: 70px;
    height: auto;
    vertical-align: middle;
    padding-right: 15px;
  }
}
