.wd-product-price-description {
    margin: 0;
    margin-top: 20px;
    min-height: 40px;
    @media screen and (min-width: 321px) and (max-width: 425px) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    @media screen and(max-width: 320px) {
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .list-price {
        color: #949494;
        font-size: 14px;
        font-family: $font-family;
        display: inline;
        margin-right: 5px;
        &.variation {
            color: $font-dark;
            span {
                font-weight: bold;
                font-size: 1.6em;
                color: $base-color;
            }
        }
    }
    .sale-price {
        display: inline;
        .prefix {
            font-size: 1em;
        }
        span {
            font-size: 18px;
            font-family: $font-heavy;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #636363;
            @media screen and(max-width:425px) {
                font-size: 22px;
            }
        }
    }
    .condition {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #636363;
        margin-top: 3px;
        .label {
        }
        .parcels,
        .parcel-value {
            font-weight: 500;
        }
        @media screen and(max-width:425px) {
            font-size: 16px !important;
        }
    }
    .savings {
        display: none !important;
    }
}

.wd-product-line {
    .wd-product-price-description {
        height: auto;
        margin-bottom: 12px;
        @media screen and(max-width: 425px) {
            height: auto;
        }
    }
}

.product-detail .head {
    .sale-price {
        span {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 425px) {
    .grid-produtos {
        .wd-product-price-description {
            .sale-price {
                span {
                    font-size: 18px !important;
                }
            }
        }
    }
}
