@import "./bower_components/bourbon/app/assets/stylesheets/_bourbon";

@import "configs";
body.EasyCheckoutStep {
  #middle,
  #main {
    padding: 0;
  }
  .wd-easy-checkout {
    .header {
      .logo {
        background-image: url("/Custom/Content/Themes/#{$theme-path}/Imagens/logo.png") !important;
        background-size: contain;
        height: 65px;
        background-position: left center;
      }
      .badge.success {
        background-color: $base-color-green;
        border-radius: 2px;
      }
    }

    .checkout-steps {
      .panel {
        border-top: 1px solid $base-outline;
        background-color: transparent;

        a.edit {
          color: $base-color;
          font-weight: 900;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .base {
      tfoot {
        td {
          background-color: transparent;
          border-top: 1px solid $base-outline;
        }
      }
    }
    .delivery-list {
      tr.active {
        td {
          border-top: 1px solid $base-outline;
          background-color: transparent;
        }
      }
    }

    .values.free {
      color: $base-color-green;
    }

    td.values {
      a {
        font-weight: 900;
        color: $base-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .btn-wide.btn-huge,
    .btn.btn-wide.btn-text,
    .btn.btn-default.btn-wide.btn-small.btn-show-basket {
      background-color: $base-color !important;
      background-image: none;
      border-radius: 2px;
      border: none;
      &:hover {
        text-decoration: none;
      }
    }

    .btn.btn-huge.btn-wide.go-payment {
      background-color: $base-color-green !important;
      color: white;
      background-image: none;
      border-radius: 2px;
      border: none;
    }

    .btn-outline {
      border-radius: 2px;
      border: 2px solid $base-color;
      color: $base-color;
      .badge {
        background-color: $base-color;
      }
    }
    .basket-data {
      .basket-data-container.panel {
        background-color: transparent;
      }
    }
    .steps-bar {
      .step.one {
        span.circle {
          span {
            color: $base-color-green;
          }
          i {
            background-color: $base-color-green;
          }
        }
      }
    }
  }
  button:not(.btn-outline),
  a.btn:not(.btn-outline) {
    background-color: $base-color !important;
    color: $font-light;
  }
  .btn-show-basket,
  a,
  #summary .safe-message {
    color: $base-color;
  }
  #ezcommerce {
    background-image: url("/Custom/Content/Themes/#{$theme-path}/Imagens/core.png");
    width: 124px;
    height: 31px;
  }
}

body {
  &.EasyCheckoutStep {
    .the-modal {
      .the-modal-container {
        border-radius: 2px;
        .modal-login {
          .signup-buttons {
            a.btn:not(.btn-outline) {
              border: 2px solid $base-color;
              color: $base-color;
              background-color: transparent !important;
              background-image: none;
              font-weight: 700;
            }
          }
          form {
            .field.sigin-password {
              .tool {
                a {
                  color: $base-color;
                  font-weight: 700;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
            button:not(.btn-outline) {
              border: 2px solid $base-color;
              color: $base-color;
              background-color: transparent !important;
              background-image: none;
              font-weight: 700;
            }
            .signup-buttons {
              a.btn.btn-wide.btn-big {
                border: 2px solid $base-color !important;
              }
            }
          }
        }
      }
    }
  }
}
