@import "./bower_components/neat/core/_neat";
@import "configs";
@import "mixins";
@import "botoes";
.wrapper {
    .banner-news-middle {
        overflow: hidden;
        margin: 50px 0;
        > div {
            float: left;
            &:first-child {
                padding: 0;
            }
            &:last-child {
                float: right;
            }
            .wd-marketing-newsletter {
                .wd-header {
                    width: 45%;
                    @include grid-media($grid-pp) {
                        width: 100%;
                    }
                    .wd-icon {
                        &:before {
                            @include aws-icon("\f0e0");
                            font-size: 3em;
                            margin-right: 10px;
                        }
                    }
                    .wd-title {
                        font-size: 1.4em;
                        small {
                            display: block;
                            font-size: 0.66em;
                            font-weight: normal;
                        }
                    }
                }
                .wd-header,
                .wd-content {
                    float: left;
                    padding: 12px 0;
                }
                .wd-content {
                    width: 55%;
                    @include grid-media($grid-pp) {
                        width: 100%;
                    }
                    form {
                        margin: 0;
                    }
                    .input-name-marketing-newsletter,
                    label,
                    .form-wrapper > p {
                        display: none;
                    }
                    .input-email-marketing-newsletter {
                        width: 65%;
                        input {
                            @include round-right(0);
                        }
                    }
                    .input-button-marketing-newsletter {
                        width: 35%;
                        button {
                            @extend .btn-wide;
                            @include round-left(0);
                        }
                    }
                    .input-email-marketing-newsletter,
                    .input-button-marketing-newsletter {
                        float: left;
                    }
                }
            }
        }
    }
    > div {
        clear: both;
    }
}

.categorias-home {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        justify-content: space-evenly;
    }
    .col {
        @media screen and(max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    .description {
        max-width: 259px;
        background-color: #f8f8f8;
        @media screen and(max-width: 767px) {
            width: 50%;
            margin-top: 10px;
            height: 100%;
            float: right;
            text-align: justify;
        }
        text-align: center;
        p {
            padding-top: 18px !important;
            padding: 0 10px;
            margin-bottom: 5px;
            font-size: 14px;
            color: $base-vitrine;
        }
        a {
            @media screen and(max-width: 767px) {
                margin-left: 10px;
            }
            margin-top: 10px;
            color: $base-color;
            font-family: $font-heavy;
            font-size: 14px;
            line-height: 30px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .garrafas {
        .bg {
            background-image: url(/custom/content/themes/#{$theme-path}/Imagens/garrafas.png);
            @extend .bg-padrao-categorias;
        }
    }
    .marmitas {
        .bg {
            background-image: url(/custom/content/themes/#{$theme-path}/Imagens/marmitas.png);
            @extend .bg-padrao-categorias;
        }
    }
    .bolsas {
        .bg {
            background-image: url(/custom/content/themes/#{$theme-path}/Imagens/bolsas.png);
            @extend .bg-padrao-categorias;
        }
    }
    .acessorios {
        .bg {
            background-image: url(/custom/content/themes/#{$theme-path}/Imagens/acessorios.png);
            @extend .bg-padrao-categorias;
        }
    }
    div {
        @media screen and (max-width: 425px) {
            margin: 1rem;
            display: flex;
            .description {
                display: flex;
                flex-flow: column;
            }
        }
    }
}

.bg-padrao-categorias {
    max-width: 259px;
    height: 255px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 100%;
    display: block;
    h3 {
        @media screen and(max-width: 767px) {
            margin: 5px 0;
            background-size: 100% 100%;
            width: 100%;
            height: auto;
            display: inline-block;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 30px;
        }
        position: relative;
        text-align: center;
        top: 80%;
        color: $font-light;
        font-family: $font-heavy;
        text-transform: uppercase;
    }
    @media screen and(max-width: 767px) {
        margin: 10px 0;
        background-size: 100% 100%;
        width: 50%;
        height: 100%;
        display: inline-block;
    }
}

.news-show {
    bottom: 0 !important;
}

.never-show {
    display: none !important;
}

.news-flutuante {
    opacity: 1;
    position: fixed;
    bottom: -300px;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);
    height: 90px;
    left: 0;
    transition: all 0.4s ease-in-out;
    #close-news {
        width: 36px;
        height: 36px;
        right: 0;
        top: -36px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        background-color: $black;
        padding: 0;
        &::before {
            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/Close_newsletter.svg?v7771);
            background-repeat: no-repeat;
            content: "";
            display: block;
            position: relative;
            width: 35px;
            height: 35px;
            top: 4px;
            left: 4px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .row {
        color: $font-light;
        h1 {
            margin-top: 23px;
            margin-bottom: 0;
        }
        h5 {
            margin: 0;
            padding: 0;
        }
        .wd-header,
        .input-name-marketing-newsletter,
        label,
        p {
            display: none;
        }
        .wd-marketing-newsletter {
            * {
                margin-left: 0;
                margin-right: 0;
            }
            form {
                margin-top: 25px;
            }
        }
    }
    .input-email-marketing-newsletter {
        width: 79%;
        float: left;
        top: 10px;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
        input {
            @include round-right(0);
            font-family: $font-family;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.4px;
            color: $base-icon-header;
            height: 50px;
        }
    }
    .input-button-marketing-newsletter {
        float: left;
        width: 21%;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
        button {
            font-weight: 900;
            background-color: $base-color-green;
            height: 50px;
            padding-left: 3rem;
            &::before {
                @media screen and(max-width: 425px) {
                    display: none;
                }
                content: "";
                position: absolute;
                background-image: url(/custom/content/themes/Base/Imagens/icones-svg/send.svg?v7771);
                background-repeat: no-repeat;
                background-size: 100%;
                display: block;
                width: 20px;
                height: 21px;
                margin-right: -6px;
                top: 18px;
                left: 45px;
            }
            @extend .btn-wide;
            @include round-left(0);
        }
    }
}

.blog-list.wd-widget {
    .wd-header {
        .wd-title {
            font-family: $font-heavy;
            font-size: 22px;
            line-height: 26px;
            color: $base-titulos;
        }
        .wd-icon {
            position: relative;
            width: 86%;
            height: 2px;
            background-color: $base-titulos;
            bottom: 25px;
            left: 14%;
        }
    }
    .wd-content {
        h3.title {
            font-family: $font-heavy;
            color: $base-titulos;
            font-size: 16px;
            letter-spacing: -0.4px;
        }
        p.content {
            font-size: 15px;
            letter-spacing: -0.4px;
            color: $base-vitrine;
        }
        a.see-more {
            font-family: $font-heavy;
            line-height: 30px;
            color: $base-color;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media only screen and(max-width: 1024px) {
    .news-flutuante {
        .input-button-marketing-newsletter {
            button {
                &::before {
                    left: 35px !important;
                }
            }
        }
    }
}
