#left {
    padding: 0;
    margin: 0;
    .wd-facet-group {
        .selected-facets {
            background: white;
            &::before {
                display: none;
            }
            .facet-type-selected {
                .selected-facet {
                    display: none;
                }
                .remove-all-filters {
                    background: white;
                    color: #606060;
                    border: 2px solid #ccc;
                    &:hover {
                        background: #eee !important;
                    }
                }
            }
        }
        .facets {
            background: #fff;
            border: none;
            display: flex;
            flex-direction: column;
            @include round(0);
            .facet-type {
                border-bottom: 1px solid #eee;
                border-top: none;
                &.category {
                    order: 1;
                    .option-title{
                        display: flex;
                        .texto{
                            order: 2;
                        }
                    }
                }
                &.price {
                    order: 2;
                }
                &.colors {
                    order: 3;
                    .facet-type-list {
                        ul {
                            li {
                                a {
                                    .option-title {
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
                &.rating {
                    order: 5;
                }
                &.brand {
                    order: 6;
                }
                &.size {
                    order: 7;
                }
                .facet-type-list {
                    font-size: 15px;
                    ul {
                        margin-left: 0;
                        padding-left: 0;
                        padding-bottom: 37px;
                        li.selected a {
                            .option-title {
                                &::before {
                                    position: relative;
                                    left: 2px;
                                    top: 3px;
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    content: "";
                                    margin-right: 10px;
                                    background-color: $base-color;
                                    border: 2px solid $font-light;
                                    box-shadow: 0px 0px 0px 2px $gray-semilight;
                                    border-radius: 2px;
                                }
                            }
                        }
                        li a {
                            .option-title {
                                color: $base-titulos;
                                font-size: 16px;
                                &::before {
                                    position: relative;
                                    left: 2px;
                                    display: inline-block;
                                    width: 18px;
                                    height: 18px;
                                    content: "";
                                    margin-right: 10px;
                                    background-color: transparent;
                                    border: 2px solid transparent;
                                    box-shadow: 0px 0px 0px 2px $gray-semilight;
                                    border-radius: 2px;
                                    order: 1;
                                    top: 3px;
                                }
                                .markup-color {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 100%;
                                    margin: 0.3rem;
                                    order: 2;
                                    border: 1px solid #aaa;
                                }
                                .color-name {
                                    margin-left: 0.3rem;
                                    order: 3;
                                }
                            }
                            &:hover {
                                text-decoration: none;
                            }
                            span {
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .facet-title {
                        overflow: hidden;
                        font-family: $font-heavy;
                        font-size: 18px;
                        color: $base-titulos;
                        position: relative;
                        padding: 37px 0;
                        &::before {
                            display: none;
                        }
                        &::after {
                            content: "";
                            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                            background-repeat: no-repeat;
                            background-size: 27%;
                            display: block;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 21px;
                            right: -5px;
                            transform: rotate(-90deg);
                        }
                        &.facet-closed {
                            &::after {
                                content: "";
                                top: 42px;
                                right: 10px;
                                transform: rotate(90deg);
                            }
                        }
                    }
                    h3 {
                        float: left;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .facet-type-range .range-wrapper {
                background: #fff;
                border: 0;
                * {
                    box-shadow: none;
                    color: $font-dark;
                }
                .handler {
                    .icon {
                        @include round(100%);
                        background-color: $font-light;
                        width: 12px;
                        height: 12px;
                        border: 1px solid $gray-medium;
                    }
                }
                .defined-range {
                    background: $lighten-color;
                }
                .submit {
                    @extend .btn;
                    @extend .btn-wide;
                    width: 104px !important;
                    height: 36px;
                    float: left;
                    padding-top: 10px !important;
                    margin-bottom: 10px;
                    background-color: transparent !important;
                    border: 2px solid $base-icon-header !important;
                    color: $base-icon-header !important;
                    margin-top: 35px;
                }
            }
        }
    }
    .selected-facets {
        background: $gray-extralight;
        border: 0;
        margin: 0;
        @include round(2px);
        &::before {
            text-transform: uppercase;
            font-size: 0.9em;
        }
        .selected-facet {
            border: 0;
            border-bottom: 1px solid $gray-light;
            margin: 0;
            @include round(0);
            &:last-child() {
                border: 0;
            }
            .selected-facet-name {
                background: none;
            }
            ul {
                li {
                    margin-top: 0;
                    margin-bottom: 5px;
                    border: 0;
                    font-weight: normal;
                }
            }
        }
    }
}

#showFacets {
    display: none;
}

@media screen and(max-width: 992px) {
    #left {
        width: 0 !important;
        &.active {
            .wd-facet-group {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 999;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                border-top: 20px solid white;
            }
        }
    }
    #showFacets {
        height: 55px;
        display: block;
        width: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 99;
        background-color: white;
        border: 2px solid $base-color;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $base-color;
        font-weight: 900;
        &:after {
            content: " Filtrar";
        }
        .icon:before {
            @include aws-icon("\f0b0");
        }
        &.active {
            width: 80px;
            bottom: initial;
            top: 0;
            right: -22px;
            background-color: transparent;
            color: $font-dark;
            z-index: 1000;
            border: 0;
            padding: 0;
            padding-top: 5px;
            &:after {
                content: "";
            }
            .icon:before {
                @include aws-icon("\f00d");
                font-size: 2em;
            }
        }
    }
}