.wd-product-line {
    padding: 25px;
    @media screen and (max-width: 425px) {
        padding: 0 !important;
        a {
            width: 100% !important;
            height: auto !important;
            .variation {
                img {
                    max-width: 100% !important;
                    height: auto !important;
                    position: relative;
                }
            }
        }
        .bottom {
            .wd-buy-button {
                button.btn-buy {
                    padding: 10px 0;
                    text-align: center;
                    font-size: 0.9em;
                    font-weight: 900;
                    width: 100%;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .item-description {
        .name {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 5px;
            min-height: 42px;
            max-height: 45px;
            height: auto;
            font-family: $font-family;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #000000;
            // @media screen and(max-width: 425px) {
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            //     overflow: hidden;
            // }
            a {
                color: $black;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        > .wd-product-rating {
            padding-bottom: 5px;
        }
        .brand-ref {
            padding-bottom: 5px;
            a {
                display: inline-block;
            }
        }
        .description {
            padding-bottom: 5px;
            height: 40px;
            a {
                display: block;
                color: $font-dark;
                padding-bottom: 10px;
            }
        }
    }
    .wd-buy-button {
        width: 100%;
        padding: 10px 0;
        form {
            display: block;
        }
        button {
            &::before {
                display: none;
            }
        }
    }
    .more {
        font-size: 0.9em;
        li {
            margin: 5px 0;
            a {
                &:before {
                    content: "+ ";
                }
            }
        }
    }
}

.notificar {
    margin-top: 3px;
    position: relative;
    bottom: 15px;
    border-width: 2px;
    padding: 1rem;
    background: white !important;
    border: 2px solid #d0021b;
    width: 100%;
    a {
        color: #d0021b;
    }
    &:hover {
        background: white;
        border-bottom-color: #d0021b;
        a {
            text-decoration: none;
            color: #d0021b;
        }
    }
    // .bt-notifyme{
    //     font-size: 0;
    //     &::before{
    //         content: "Avise-me quando chegar";
    //         font-size: 14px;
    //         font-family: inherit;
    //         @media screen and(max-width: 425px){
    //             font-size: 11px;
    //         }
    //     }
    // }
}
