.page-description {
    .text-category {
        margin-left: 10px;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        span {
            color: $base-vitrine !important;
        }
    }
}

h2.category-title {
    @media screen and(max-width: 768px) {
        margin-top: 10px;
    }
    margin-top: 50px;
    font-family: $font-heavy;
    font-size: 20px;
    margin-left: 10px;
    color: $base-titulos;
}

.wd-browsing-grid {
    margin-top: -50px;
    .wd-browsing-grid-sorter {
        position: initial;
        width: 29%;
        min-width: 250px;
        display: inline-block;
        float: right;
        @include grid-media($grid-smartphone) {
            float: left;
            margin-top: 15px;
        }
        * {
            display: inline-block;
        }
        span {
            font-family: $font-heavy;
            color: $detail;
            line-height: 30px;
            font-size: 14px;
        }
        select {
            max-width: 160px;
            margin-left: 5px;
        }
    }
    header {
        .wd-browsing-grid-pager {
            .page-number {
                display: none;
            }
        }
    }
    footer {
        text-align: center;
        .wd-browsing-grid-pager {
            width: 100%;
            .description {
                display: none;
            }
        }
        .wd-browsing-grid-sorter {
            display: none;
        }
    }
    .wd-browsing-grid-pager {
        width: 71%;
        display: inline-block;
        @include grid-media($grid-smartphone) {
            width: 100%;
        }
        .description {
            .pagination {
                span {
                    font-size: 15px;
                    line-height: 36px;
                    letter-spacing: 0.4px;
                    color: $base-vitrine;
                    font-family: $font-heavy;
                }
            }
            .product-count {
                font-size: 14px;
                line-height: 36px;
                letter-spacing: 0.4px;
                color: $base-vitrine;
                font-family: $font-heavy;
            }
        }
        .page-number {
            float: none;
            span {
                padding: 8px 5px;
                margin-right: 20px;
            }
            .prev-page {
                color: $base-color;
                background-color: #f5f5f5;
                width: 36px;
                height: 36px;
                border-radius: 2px;
                font-size: 0;
                text-align: center;
                position: relative;
                top: -16px;
                a {
                    color: $base-color;
                }
                i {
                    &::before {
                        content: "";
                        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 10px;
                        height: 19px;
                        margin-right: -6px;
                        position: absolute;
                        top: 8px;
                        left: 11px;
                        display: block;
                        transform: rotate(180deg);
                    }
                }
            }
            .next-pg {
                color: $base-color;
                background-color: #f5f5f5;
                width: 36px;
                height: 36px;
                border-radius: 2px;
                font-size: 0;
                text-align: center;
                position: relative;
                top: -16px;
                a {
                    color: $base-color;
                }
                i {
                    &::before {
                        content: "";
                        background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858634-detail.svg?v2);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 10px;
                        height: 19px;
                        margin-right: -6px;
                        position: absolute;
                        top: 9px;
                        left: 14px;
                        display: block;
                    }
                }
            }
            .other-pg {
                color: $base-vitrine;
                background-color: transparent;
                width: 36px;
                height: 36px;
                border-radius: 2px;
                border: 2px solid $base-outline;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                padding-top: 8px;
                a {
                    color: $base-vitrine;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .page-selected {
                background-color: $base-color;
                width: 36px;
                height: 36px;
                border-radius: 2px;
                font-size: 15px;
                font-weight: bold;
                border: 0;
                padding-top: 10px;
                text-align: center;
                color: $font-light;
            }
        }
    }
    .wd-browsing-grid-list {
        margin: 15px 0;
        > ul {
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
            padding-bottom: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .grid-products #content-wrapper {
        margin: 0;
    }
    .wd-browsing-grid-sorter {
        display: none;
    }
}

.grid-products,
.grid-empty {
    #content-wrapper {
        button.category-back {
            width: 100%;
            background-color: transparent;
            text-align: left;
            border-bottom: 2px solid $base-outline;
            margin-bottom: 10px;
            &::before {
                content: "";
                background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                background-repeat: no-repeat;
                background-size: 60%;
                width: 15px;
                height: 23px;
                position: absolute;
                top: 10px;
                left: 0;
                display: block;
                transform: rotate(180deg);
            }
            a {
                color: $base-titulos;
                font-size: 15px;
                line-height: 22px;
                font-family: $font-heavy;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
