.wd-product-list {
    .wd-content {
        >ul {
            li {
                width: auto;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .wd-product-list {
        ul.list {
            li {
                padding: 0 10px;
            }
        }
    }
}

.wd-browsing-product-carousel {
    .wd-product-list {
        width: auto;
        .wd-product-list {
            height: auto !important;
            ul.list.slick-initialized.slick-slider {
                width: auto !important;
                li {
                    width: 280px !important;
                }
            }
            ul.list {
                width: 20000em !important;
                display: flex;
                flex-direction: row;
                li {
                    width: 280px; //@include calculate($wrapper, $qtd-products-vitrine);
                    margin: 0;
                }
            }
        }
    }
    .jcarousel-control-next,
    .jcarousel-control-prev {
        background: transparent;
        i {
            font-size: 1em;
        }
    }
}

.wd-product-list-contextual {
    .wd-product-list {
        li {
            min-height: 350px;
            height: 360px;
            width: auto;
            .medias,
            .item-description {
                @include grid-column(6);
                margin: 0;
            }
        }
    }
}

.wd-product-featured-list {
    .wd-content {
        @extend .row;
        .featured,
        .other {
            margin: 0;
            .product {
                padding: 0;
            }
        }
        .other {
            .product {
                margin-bottom: 10px;
                overflow: hidden;
                height: auto;
            }
            .name {
                color: $font-dark;
                display: block;
            }
            .medias {
                @include grid-column(2);
                @include grid-media($grid-pp) {
                    @include grid-column(12);
                }
                .img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .item-description {
                @include grid-column(10);
                @include grid-media($grid-pp) {
                    @include grid-column(12);
                }
                .col {
                    padding: 0;
                }
            }
            .wd-product-price-description {
                position: initial;
                .sale-price span {
                    font-size: 1em;
                    color: $font-dark;
                }
                .savings,
                .condition {
                    display: none;
                }
            }
        }
        .img {
            position: initial;
        }
        .featured {
            .product {
                @extend .row;
                .name {
                    color: $font-dark;
                    font-size: 1.2em;
                    font-weight: bold;
                    display: block;
                    margin: 10px 0;
                }
                .medias,
                .item-description {
                    margin: 0;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .wd-product-list-contextual {
        .wd-product-list {
            li {
                height: 585px;
                .medias,
                .item-description {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.wd-product-list-tabs {
    @media screen and(max-width: 425px) {
        margin-top: 20px;
    }
    margin-top: 60px;
    margin-bottom: 30px;
    div.wd-title {
        font-family: Avenir Heavy;
        position: relative;
        display: inline-block;
        color: #404040;
        font-size: 20px;
        line-height: 26px;
        background: #fff;
        padding: 14px 0 0 0;
        float: left;
        &::after {
            @media screen and(max-width: 1175px) {
                display: none;
            }
            content: "";
            position: absolute;
            top: 28px;
            left: 150px;
            display: block;
            left: 150px;
            width: 600px;
            height: 1px;
            background: #404040;
        }
    }
    .wd-nav-tabs {
        width: 433px;
        margin-bottom: 0;
        @media screen and(max-width: 442px) {
            width: 100%;
            li,
            li.selected {
                display: inline-block;
                a {
                    margin-left: 5px !important;
                }
            }
        }
        float: right;
        li.wd-selected {
            display: inline-block;
            a {
                font-size: 15px;
                line-height: 26px;
                font-family: $font-heavy;
                margin-left: 36px;
                text-decoration: none;
                color: $base-color;
                border-bottom: 2px solid $base-color;
            }
        }
        li {
            display: inline-block;
            a {
                color: $base-vitrine;
                font-size: 15px;
                line-height: 26px;
                font-family: $font-heavy;
                margin-left: 36px;
                &:hover {
                    text-decoration: none;
                    color: $base-color;
                    border-bottom: 2px solid $base-color;
                }
            }
        }
    }
}

body.grid-products {
    .busca-vazia,
    .wd-browsing-product-carousel {
        display: none;
    }
}

body.grid-empty {
    #content {
        width: 100% !important;
        .busca-vazia {
            display: flex;
            padding: 50px 0;
            .foto-pesquisa {
                background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pesquisa-vazia.png?8989xzhu23423dsdauch);
                background-repeat: no-repeat;
                background-position-x: 50%;
                display: block;
                float: left;
                font-size: 0;
                margin: 0 auto;
                background-position-y: -2px;
                @media screen and(max-width: 425px) {
                    margin-top: 40px;
                    height: 210px;
                }
            }
            .instrucoes {
                display: flex;
                flex-direction: column;
                strong {
                    font-size: 15px;
                    font-family: $font-heavy;
                    line-height: 30px;
                    color: $base-vitrine;
                }
                span {
                    line-height: 30px;
                    color: $base-vitrine;
                }
                a {
                    position: relative;
                    font-family: $font-heavy;
                    color: $base-color;
                    font-weight: 900;
                    padding: 30px 0;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                    }
                    @media screen and(max-width: 425px) {
                        margin-top: 20px;
                        padding: 15px 0;
                        border-top: 1px solid $base-outline;
                        border-bottom: 1px solid $base-outline;
                        color: $base-titulos;
                        &::before {
                            content: "";
                            background-image: url(/custom/content/themes/Base/Imagens/icones-svg/noun_Arrow_858633.svg?v2);
                            background-repeat: no-repeat;
                            background-size: 77%;
                            width: 13px;
                            height: 18px;
                            position: absolute;
                            top: 14px;
                            right: 0;
                            display: block;
                        }
                    }
                }
            }
            .notfound {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-bottom: 10rem;
                .ops {
                    text-align: right;
                    @media screen and (max-width: 425px) {
                        text-align: center;
                    }
                    h2 {
                        font-size: 32px;
                        font-weight: bold;
                        color: $base-color;
                    }
                    span {
                        font-size: 18px;
                        font-weight: 900;
                        color: $base-vitrine;
                    }
                }
            }
            .queridos-pesquisa {
                width: 100%;
                max-width: 1171px;
            }
        }
        .wd-browsing-grid {
            display: none;
        }
        .wd-browsing-product-carousel {
            display: block;
            .wd-header {
                margin-bottom: 20px;
                margin-top: 10px;
                .wd-icon {
                    @media screen and(max-width: 768px) {
                        width: 0 !important;
                    }
                    width: 90% !important;
                }
                .wd-title {
                    @media screen and(max-width: 425px) {
                        font-size: 16px;
                        text-overflow: ellipsis;
                        max-width: 250px;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    @media screen and(max-width:320px) {
                        max-width: 200px;
                    }
                }
            }
            .wd-content {
                .jcarousel-control-prev {
                    @media screen and (max-width: 425px) {
                        top: -49px;
                        left: 75.9%;
                    }
                    width: 36px;
                    height: 36px;
                    border-radius: 2px;
                    border: 2px solid $base-outline;
                    position: absolute;
                    left: 92.5%;
                    top: -51px;
                    i {
                        top: 3px;
                        left: 8px;
                        position: absolute;
                        font-size: 28px;
                    }
                }
                .jcarousel-control-next {
                    @media screen and (max-width: 425px) {
                        top: -49px;
                        left: 86.9%;
                    }
                    width: 36px;
                    height: 36px;
                    border-radius: 2px;
                    border: 2px solid $base-outline;
                    position: absolute;
                    left: 96.9%;
                    top: -51px;
                    i {
                        top: 3px;
                        left: 9px;
                        position: absolute;
                        font-size: 28px;
                    }
                }
            }
        }
    }
}