@media screen and (max-width: 425px) {
  body.LoginRoute.area-profile {
    .center-box {
      border: none;
      padding: 0;
    }
    .wd-profile-login,
    .wd-profile-register {
      button {
        background-color: $base-color;
      }
    }
  }
}

.area-profile {
  .wd-browsing-breadcrumbs {
    display: none;
  }
  .center-box {
    background-color: #fff;
    border: 1px solid $base-icon-header;
    border-radius: 2px;
    box-shadow: none;
    a.register-now {
      border: 2px solid $base-color;
      font-size: 16px;
      width: auto;
      padding: 20px 0;
      font-weight: 900;
      color: $base-color;
      &:hover {
        color: $base-color;
        background-color: transparent;
      }
    }
    @media screen and (min-width: $breakpoint-mobile) {
      padding: 25px;
      margin: 30px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 25px;
    }
  }
  .wd-profile-login,
  .wd-profile-register {
    form {
      label {
        font-size: 15px;
        color: $base-titulos;
        width: auto;
      }
      input {
        border: 1px solid $base-icon-header;
        &:focus {
          border: 1px solid $base-color;
          outline: none;
        }
      }
      button {
        background-color: $base-color-green;
        font-size: 18px;
        font-weight: 900;
        font-family: $font-heavy;
      }
      a.js-login-recoverpassword {
        font-family: $font-heavy;
        color: $base-color;
        font-weight: 900;
        line-height: 26px;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
      a.buscaCepCorreios {
        font-family: $font-heavy;
        color: $base-color;
        font-weight: 900;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .bt-submit {
      background-color: $base-color-green;
      font-size: 18px;
      font-weight: 900;
      font-family: $font-heavy;
    }
  }
  span.error {
    color: darken($danger, 40%);
    display: inline-block;
    padding: 5px;
  }
  #middle {
  }
  &:not(.page-login):not(.page-register) {
    #content {
      @extend .col-lg-10 !optional;
      width: inherit;
      @extend .order-2 !optional;
      #content-wrapper {
        margin: 0;
      }
      @media screen and (max-width: $breakpoint-mobile) {
        padding: 0;
      }
    }
  }
  #left {
    margin: 0;
    @extend .order-1 !optional;
    @extend .col-lg-2 !optional;
    @media screen and (max-width: $breakpoint-mobile) {
      padding: 0;
    }
  }
}
